@section styles {
    <link href="/css/about-us/post-253.css" rel="stylesheet" type="text/css" />
    <link href="/css/about-us/20a685068.min.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="253" class="elementor elementor-253" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-1ef57fb elementor-section-height-min-height elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="1ef57fb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6691a9d" data-id="6691a9d" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ccc2761 elementor-widget elementor-widget-heading" data-id="ccc2761" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">ABOUT <b>EVOY</b></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-eef625b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="eef625b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1250bb9" data-id="1250bb9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-53fccf5 elementor-widget elementor-widget-heading" data-id="53fccf5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default"><b>The Company</b></h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8a19a3e elementor-widget elementor-widget-text-editor" data-id="8a19a3e" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p>Evoy’s vision is to eliminate boating emissions which is a strong guideline and gives us the direction and dedication to lift boating to a whole new level. Just imagine boating with no sound, fumes  or breakdowns – it gives you the peace of mind to enjoy your voyage as it should be – in total harmony with the surrounding nature and wildlife, feeling free and at ease with your loved ones. That is what we call the Evoy Experience. </p>
                                                <p>Evoy was founded in 2018 and its headquarter is based in Florø, Norway, and one office in Paris, France since 2021. Evoy design, develop and manufacture powerful 100% electric motor system for commercial and leisure boats. These are typically fast boats between 20 and 50 foot, bringing the superiority of electric voyaging into new markets with Evoy’s ground-breaking technology.  The powerful plug-and-play inboard and outboard turn-key systems can be placed into any boat, whether it is the boat your own today or the new boat you have always dreamt of. </p>
                                                <p>Evoy wants to enhance the boating experience by bringing eco friendly solutions for the explorer of tomorrow.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8755278 elementor-widget elementor-widget-text-editor" data-id="8755278" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7dc69c9f elementor-section-height-min-height elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-items-middle" data-id="7dc69c9f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-608aed6" data-id="608aed6" data-element_type="column">
                            <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-436e3e0 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="436e3e0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c4c913c" data-id="c4c913c" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-c544b68 elementor-widget elementor-widget-heading" data-id="c544b68" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Leif A. Stavøstrand</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-aa0f815 elementor-widget elementor-widget-text-editor" data-id="aa0f815" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p><span class="TextRun Highlight SCXW52200036 BCX0" lang="EN-US" xml:lang="EN-US" data-contrast="auto"><span class="NormalTextRun SCXW52200036 BCX0" data-ccp-parastyle="paragraph" data-ccp-parastyle-defn="{&quot;ObjectId&quot;:&quot;ca66fbd3-a603-4b02-a8f5-6537b6265d78|47&quot;,&quot;ClassId&quot;:1179649,&quot;Properties&quot;:[134233614,&quot;true&quot;,201340122,&quot;2&quot;,201341983,&quot;0&quot;,268442635,&quot;24&quot;,335559705,&quot;1036&quot;,335559738,&quot;100&quot;,335559739,&quot;100&quot;,335559740,&quot;240&quot;,469769226,&quot;Times New Roman&quot;,469775450,&quot;paragraph&quot;,469777841,&quot;Times New Roman&quot;,469777842,&quot;Times New Roman&quot;,469777843,&quot;Times New Roman&quot;,469777844,&quot;Times New Roman&quot;,469778129,&quot;paragraph&quot;,469778324,&quot;Normal&quot;]}">Born in Canada, but grew up on, in and by the ocean on a fairy tale island in Western-Norway,&nbsp;</span><span class="SpellingError SCXW52200036 BCX0" data-ccp-parastyle="paragraph">Svanøy</span><span class="NormalTextRun SCXW52200036 BCX0" data-ccp-parastyle="paragraph">. From an early age, boats were the main interest and where other kids focused on soccer teams and music bands, Leif had scrapbooks and posters with drawings and pictures of boats. His passion leads him into a maritime career where he sailed the seven seas for many years and he has circumnavigated the globe numerous times, visiting more than 40 countries and countless ports. Experiencing collision, hurricanes, and fires, he was appointed Sea Captain as soon as the certification allowed him on an 89-meter tanker, just 32 years old.</span></span><span class="EOP SCXW52200036 BCX0" data-ccp-props="{&quot;201341983&quot;:0,&quot;335559738&quot;:100,&quot;335559739&quot;:100,&quot;335559740&quot;:240}">&nbsp;</span></p><p>When his first daughter was born in 2012 he decided to go ashore where he did a lightning career from Base Manager to COO then CEO on Norway’s largest oil supply base, Saga Fjordbase. As CEO, he delivered all-time best customer satisfaction, financial and QHSE results, in the midst of the oil crisis and heavy downsizing. But his proudest moment was kickstarting the “Green &amp; Lean Base” initiative cutting great amounts of Green House Gasses directly and indirectly – a successful project that is still ongoing.</p><p>Underway he supplemented his competence with a B.Sc. Naval Architect and an Executive MBA. In 2018 a new era began where Leif decided to combine all his passions, concern for Global Warming, and experience together with his Father Gunnar to start Evoy. The idea was from 2005 and had a long time to mature.</p><p>In the summer of 2019, the demo boat Evoy1 was baptized by the PM of Norway – Erna Solberg – and in the fall the boat made an unofficial World Record with 55 knots. In 2020 the first customers receive their turn-key powerful electric propulsion systems in the boat of their choice. The voyage has only just begun, and Leif is in for the long-haul!</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6ad2ba3 elementor-widget elementor-widget-htmega-blockquote-addons" data-id="6ad2ba3" data-element_type="widget" data-widget_type="htmega-blockquote-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-blockquote htmega-blockquote-position-lefttop htmega-citeseparator-position-none">
                                                <blockquote>
                                                    <div class="blockquote_content"><p>"Evoy is truly a dream come true in so many levels. Personally, I could not think of a thing that I rather would do. Imagine, I am allowed to nurture my passions while cutting significant levels of CO2 emissions. And as if that was not enough, I get to captain the fastest and most powerful electric boats on the planet developed and delivered by a world-class dream team! Hold my beer!!”</p></div><cite class="quote-by"> Leif A. Stavøstrand </cite>
                                                </blockquote>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-0a1175b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0a1175b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cff5dcf" data-id="cff5dcf" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-298f99d elementor-widget elementor-widget-heading" data-id="298f99d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">Our Values</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c46cac4 elementor-widget elementor-widget-text-editor" data-id="c46cac4" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Evoy’s vision is to deliver an irresistible boating experience by developing sustainable electric motor systems to accelerate the change for electric boating. Evoy is the technology leader and offers enhanced capacities, power, longer-lasting and sustainable motor systems that help reduce carbon and CO2 emissions at sea.</p><p>Evoy from its Norwegian roots is a technology pioneer offering powerful, responsive, and genuine electric boating solutions</p></div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-dfdd2d2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dfdd2d2" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bda542d" data-id="bda542d" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-bcb7883 elementor-widget elementor-widget-image" data-id="bcb7883" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="/images/The_shift_Speed@2x-p4n98hu59sapnlumgob6p0jghzizmior6waiddqi9s.png" title="The_shift_Speed-evoy-electric-boat-motor" alt="The_shift_Speed-evoy-electric-boat-motor">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-3a84068 eael-infobox-content-align-left eael-infobox-icon-bg-shape-none eael-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-eael-info-box" data-id="3a84068" data-element_type="widget" data-widget_type="eael-info-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="eael-infobox">
                                                                        <div class="infobox-icon eael-icon-only">


                                                                            <div class="infobox-icon-wrap">
                                                                                <i class=""></i>
                                                                            </div>


                                                                        </div>
                                                                        <div class="infobox-content eael-icon-only">
                                                                            <h3 class="title">PIONEERING</h3>
                                                                            <p></p><p>Evoy leads the way into uncharted waters, discovering and exploring, attentively navigating around obstacles, to open new routes for an irresistible boating experience. Being pioneering is demanding, but also extremely rewarding to those involved and those who follow in the wake.</p><p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-173acb8" data-id="173acb8" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-476db87 elementor-widget elementor-widget-image" data-id="476db87" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="/images/The_shift_Speed@2x-p4n98hu59sapnlumgob6p0jghzizmior6waiddqi9s.png" title="The_shift_Speed-evoy-electric-boat-motor" alt="The_shift_Speed-evoy-electric-boat-motor">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-f72ed4f eael-infobox-content-align-left eael-infobox-icon-bg-shape-none eael-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-eael-info-box" data-id="f72ed4f" data-element_type="widget" data-widget_type="eael-info-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="eael-infobox">
                                                                        <div class="infobox-icon eael-icon-only">


                                                                            <div class="infobox-icon-wrap">
                                                                                <i class=""></i>
                                                                            </div>


                                                                        </div>
                                                                        <div class="infobox-content eael-icon-only">
                                                                            <h3 class="title">GENUINE</h3>
                                                                            <p></p><p>We believe in making a real impact, by eliminating fossil fuel at sea. To make real changes, we also must be genuine – by being honest, fact based and transparent.&nbsp;&nbsp;</p><p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-c139b83 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c139b83" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ad24b3b" data-id="ad24b3b" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ff16013 elementor-widget elementor-widget-image" data-id="ff16013" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="/images/The_shift_Speed@2x-p4n98hu59sapnlumgob6p0jghzizmior6waiddqi9s.png" title="The_shift_Speed-evoy-electric-boat-motor" alt="The_shift_Speed-evoy-electric-boat-motor">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-0c7f58f eael-infobox-content-align-left eael-infobox-icon-bg-shape-none eael-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-eael-info-box" data-id="0c7f58f" data-element_type="widget" data-widget_type="eael-info-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="eael-infobox">
                                                                        <div class="infobox-icon eael-icon-only">


                                                                            <div class="infobox-icon-wrap">
                                                                                <i class=""></i>
                                                                            </div>


                                                                        </div>
                                                                        <div class="infobox-content eael-icon-only">
                                                                            <h3 class="title">RESPONSIVE</h3>
                                                                            <p></p><p>We intend to change an entire industry. The boat market is changing rapidly, and we need to be responsive to succeed and ready to alter course frequently. Fitting into common plans with the marketplace.</p><p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f3daa73" data-id="f3daa73" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-0fb5299 elementor-widget elementor-widget-image" data-id="0fb5299" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img src="/images/The_shift_Speed@2x-p4n98hu59sapnlumgob6p0jghzizmior6waiddqi9s.png" title="The_shift_Speed-evoy-electric-boat-motor" alt="The_shift_Speed-evoy-electric-boat-motor">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-0a9f2cc eael-infobox-content-align-left eael-infobox-icon-bg-shape-none eael-infobox-icon-hover-bg-shape-none elementor-widget elementor-widget-eael-info-box" data-id="0a9f2cc" data-element_type="widget" data-widget_type="eael-info-box.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="eael-infobox">
                                                                        <div class="infobox-icon eael-icon-only">


                                                                            <div class="infobox-icon-wrap">
                                                                                <i class=""></i>
                                                                            </div>


                                                                        </div>
                                                                        <div class="infobox-content eael-icon-only">
                                                                            <h3 class="title">POWERFUL</h3>
                                                                            <p></p><p>To accelerate the green shift at sea, we need solutions that take big steps forward. We are driven by the will to do good that lives inside all of us. We shape solutions that are powerful enough to make change happen – and proceed full throttle!&nbsp;</p><p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-78fe4bb elementor-widget elementor-widget-text-editor" data-id="78fe4bb" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-24c3c3 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="24c3c3" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e56ef67" data-id="e56ef67" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-3ddd6f0d elementor-widget elementor-widget-heading" data-id="3ddd6f0d" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">Learn more about Evoy</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3840c8b2 elementor-widget elementor-widget-text-editor" data-id="3840c8b2" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Get to know more about Evoy, the people behind the company and how to get involved.</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7e359acf elementor-align-center elementor-mobile-align-justify elementor-widget elementor-widget-button" data-id="7e359acf" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="/Home/OurTeam" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">MORE INFORMATION</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>