@section styles {
    <link href="/css/pressroom/post-387.css" rel="stylesheet" type="text/css" />
    <link href="/css/pressroom/post-474.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="387" class="elementor elementor-387" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3045291d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3045291d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b1859d3" data-id="2b1859d3" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-78896cd6 elementor-widget elementor-widget-spacer" data-id="78896cd6" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-634018eb elementor-widget elementor-widget-heading" data-id="634018eb" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">COMCEPTS</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-10d863c9 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="10d863c9" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-2eda371d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2eda371d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6d21a498" data-id="6d21a498" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-41503e1c elementor-widget elementor-widget-htmega-imagegrid-addons" data-id="41503e1c" data-element_type="widget" data-widget_type="htmega-imagegrid-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-gridimage-area htmega-image-gridstyle-1">
                                                <div class="htb-row">
                                                    <div class="htb-col-md-6 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.sustainableboatnews.com/kruser-offers-high-speed-electric-boat-sharing-option/" target="_blank" rel="noopener"><img width="800" height="800" src="/images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg" class="attachment-large size-large" alt="image of Hydrolift electric boat powered by evoy" loading="lazy" srcset="/images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg 1024w, /images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg 300w, /images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg 150w, /images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg 768w, /images/concepts/BeachClub-112ft-34m-Flybridge-extended_blue-960x600.jpg 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>sustainableboatnews.com</h2><p>Convertible Beachclub // 20,50 M</p><a class="read-btn" href="https://www.sustainableboatnews.com/kruser-offers-high-speed-electric-boat-sharing-option/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-6 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.sustainableboatnews.com/evoy-partnership-with-sailgp-sail-league-furthers-sustainable-boating/" target="_blank" rel="noopener"><img width="800" height="800" src="/images/concepts/Beachclub660_convertible_6-960x540.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="/images/concepts/Beachclub660_convertible_6-960x540.jpg 1024w, /images/concepts/Beachclub660_convertible_6-960x540.jpg 300w, /images/concepts/Beachclub660_convertible_6-960x540.jpg 150w, /images/concepts/Beachclub660_convertible_6-960x540.jpg 768w, /images/concepts/Beachclub660_convertible_6-960x540.jpg 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>sustainableboatnews.com</h2><p>1000 Beachclub // 30.00 M</p><a class="read-btn" href="https://www.sustainableboatnews.com/evoy-partnership-with-sailgp-sail-league-furthers-sustainable-boating/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-6799e69 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6799e69" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: 0px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e43604d" data-id="e43604d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-28bb10f4 elementor-widget elementor-widget-heading" data-id="28bb10f4" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">ALWAYS FIRST</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-77ea217d elementor-widget elementor-widget-text-editor" data-id="77ea217d" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Be the first to get Ebvie news, product updates and events. Choose your options.</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6197b2e elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="6197b2e" data-element_type="widget" data-settings="{&quot;button_width&quot;:&quot;33&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <form class="elementor-form" method="post" name="New Form">
                                                <input type="hidden" name="post_id" value="387">
                                                <input type="hidden" name="form_id" value="6197b2e">

                                                <input type="hidden" name="queried_id" value="387">

                                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                    <div class="elementor-field-type-checkbox elementor-field-group elementor-column elementor-field-group-6ed25c0 elementor-col-100">
                                                        <div class="elementor-field-subgroup  elementor-subgroup-inline"><span class="elementor-field-option"><input type="checkbox" value="Commercial interest" id="form-field-6ed25c0-0" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-0">Commercial interest</label></span><span class="elementor-field-option"><input type="checkbox" value="Private Buyer" id="form-field-6ed25c0-1" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-1">Private Buyer</label></span><span class="elementor-field-option"><input type="checkbox" value="Ebvie News" id="form-field-6ed25c0-2" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-2">Ebvie News</label></span></div>
                                                    </div>
                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-33">
                                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Full Name">
                                                    </div>
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-33 elementor-field-required">
                                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Your Email" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-33 e-form__buttons">
                                                        <button type="submit" class="elementor-button elementor-size-sm">
                                                            <span>
                                                                <span class="elementor-align-icon-right elementor-button-icon">
                                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                                </span>
                                                                <span class="elementor-button-text">be first</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>