@section styles {
    <link href="/css/FAQ/post-349.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="349" class="elementor elementor-349" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3045291d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3045291d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b1859d3" data-id="2b1859d3" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-78896cd6 elementor-widget elementor-widget-spacer" data-id="78896cd6" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-634018eb elementor-widget elementor-widget-heading" data-id="634018eb" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                FREQUENTLY ASKED<br>
                                                QUESTIONS
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-10d863c9 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="10d863c9" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-121c7d4 elementor-widget elementor-widget-text-editor" data-id="121c7d4" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Below you will find the questions we get the most. If you don’t see what’s on your mind, be sure to reach out to us through our <a href="/contact-new/">contact form</a>.</p></div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-2f80b30 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="2f80b30" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-d6131ab" data-id="d6131ab" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-efb5786 elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="efb5786" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#general" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">GENERAL</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-a6cbdb1" data-id="a6cbdb1" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-107f601 elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="107f601" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#productinfo" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">PRODUCT INFO</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-aa1ba0c" data-id="aa1ba0c" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-f0e011e elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="f0e011e" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#purchasing" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">PURCHASING</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-824513a" data-id="824513a" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7eb2036 elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="7eb2036" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#motorfaq" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">MOTOR</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-4feda50" data-id="4feda50" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-e921c33 elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="e921c33" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#battery" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">BATTERY</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-7b9eeee" data-id="7b9eeee" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-6759bc4 elementor-align-left elementor-tablet-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="6759bc4" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="#enviornment" class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">ENVIRONMENT</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-14 elementor-inner-column elementor-element elementor-element-18857dc" data-id="18857dc" data-element_type="column">
                                                    <div class="elementor-column-wrap">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-9260e42 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9260e42" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-272ac3a" data-id="272ac3a" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-54766e9 elementor-widget elementor-widget-menu-anchor" data-id="54766e9" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="general" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-913df06 elementor-widget elementor-widget-heading" data-id="913df06" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">GENERAL</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a885745 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="a885745" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-93a738a elementor-widget elementor-widget-eael-adv-accordion" data-id="93a738a" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-93a738a" data-accordion-id="93a738a" data-accordion-type="accordion" data-toogle-speed="400">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1541" class="elementor-tab-title eael-accordion-header" tabindex="1541" data-tab="1" role="tab" aria-controls="elementor-tab-content-1541"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title">  What does the company Evoy stand for?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1541" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1541"><p></p><p><span class="spellingerror">Evoy comes from the term Electric Voyage. A voyage is by definition:&nbsp;</span><a href="https://en.oxforddictionaries.com/definition/voyage" target="_blank" rel="noopener"><span class="normaltextrun"><span xml:lang="NB-NO" data-contrast="none">“A long journey involving travel by sea or in space”.</span></span></a><span xml:lang="NB-NO" data-contrast="none">&nbsp;Evoy will focus on sea travel first, then ocean space later.</span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1542" class="elementor-tab-title eael-accordion-header" tabindex="1542" data-tab="2" role="tab" aria-controls="elementor-tab-content-1542"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What is the size of fast boats you recommend for your system?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1542" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1542"><p></p><p>A boat, in Evoy’s view is between 0 and 15 meters or 0 and 50 feet. Our system is best suited to inboard planing hull boats between 20 and 30 feet. The reason is that size affects energy consumption, at the same time as having fairly heavy ICE systems installed. However, when removing an ICE system either in real life or during planning for new boats, this will free up a lot of weight that can be used for the electric propulsion system. Since the motor and converter typically only weigh between 100 and 200 kg (depending on specification on the boat) that again means there is a lot of room for the batteries, which can give an acceptable range for most.&nbsp;</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1543" class="elementor-tab-title eael-accordion-header" tabindex="1543" data-tab="3" role="tab" aria-controls="elementor-tab-content-1543"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What are the benefits of electric propulsion?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1543" class="eael-accordion-content clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1543"><p></p><p>Silence, zero emissions, and low operating costs are the core benefits of an electric propulsion system. Evoy's system will not compromise your current boat usage, using your boat how, when, and where you want. The use of a lightweight electric motor, efficient battery management, and maritime batteries make this possible.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1544" class="elementor-tab-title eael-accordion-header" tabindex="1544" data-tab="4" role="tab" aria-controls="elementor-tab-content-1544"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How reliable are electric propulsion systems?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1544" class="eael-accordion-content clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-1544"><p></p><p>Electric propulsions systems are highly reliable. The reason for this is the simplicity of an electric motor linked to our marine electric management system. Simply put, our system has four moving parts, whilst on average a combustion engine has over 2000 parts. This explains how Evoy can achieve a highly reliable and robust system.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1545" class="elementor-tab-title eael-accordion-header" tabindex="1545" data-tab="5" role="tab" aria-controls="elementor-tab-content-1545"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Will my boat plane faster and easier with electric propulsion?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1545" class="eael-accordion-content clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-1545"><p></p><p>Unlike ICE, the full torque of an electric motor can be available from 0 rpm (depending on your programming choices). Thus an electric propulsion system allows you to achieve a plane with your boat more efficiently and faster.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1546" class="elementor-tab-title eael-accordion-header" tabindex="1546" data-tab="6" role="tab" aria-controls="elementor-tab-content-1546"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How fast can I go?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1546" class="eael-accordion-content clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-1546"><p></p><p>This is fully dependent on the boat and how big a system is installed. As a general rule, you can expect a higher top speed than with your current ICE installation.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1547" class="elementor-tab-title eael-accordion-header" tabindex="1547" data-tab="7" role="tab" aria-controls="elementor-tab-content-1547"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How far can I go?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1547" class="eael-accordion-content clearfix" data-tab="7" role="tabpanel" aria-labelledby="elementor-tab-title-1547"><p></p><p>This is fully dependent on the boat and the size of the system that you put in it. However, with today’s battery technology you can expect between 25 to 50 nautical miles at a planing hull speed. At a slower speed, below hull speed (approximately 5 knots for a 25-footer), this range can be quadrupled.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1548" class="elementor-tab-title eael-accordion-header" tabindex="1548" data-tab="8" role="tab" aria-controls="elementor-tab-content-1548"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What is ICE?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1548" class="eael-accordion-content clearfix" data-tab="8" role="tabpanel" aria-labelledby="elementor-tab-title-1548"><p></p><p>ICE stands for an Internal Combustion Engine. The majority of marine inboard and outboard engines are ICE.</p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-902299f elementor-widget elementor-widget-menu-anchor" data-id="902299f" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="productinfo" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-db9ca2a elementor-widget elementor-widget-heading" data-id="db9ca2a" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">PRODUCT INFO</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-73650e2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="73650e2" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-525a83a elementor-widget elementor-widget-eael-adv-accordion" data-id="525a83a" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-525a83a" data-accordion-id="525a83a" data-accordion-type="accordion" data-toogle-speed="300">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8631" class="elementor-tab-title eael-accordion-header" tabindex="8631" data-tab="1" role="tab" aria-controls="elementor-tab-content-8631"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> When will the Evoy motor systems be available in my country?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8631" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-8631"><p></p><p>The inboard 400 hp system is available now to order in Norway and Europe in 2021. The outboard 150 hp will be available in Norway spring/summer 2021 and selected European markets towards the end of 2021. We are moving into the North American market in 2022 and the rest of the world from 2023.&nbsp;</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8632" class="elementor-tab-title eael-accordion-header" tabindex="8632" data-tab="2" role="tab" aria-controls="elementor-tab-content-8632"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Is Evoy systems for new boats and businesses?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8632" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-8632"><p></p><p><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">Evoy’s</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">&nbsp;</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">standardised</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">&nbsp;turn-</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">key</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">&nbsp;system&nbsp;</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">can</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0"> be used in </span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">both</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">&nbsp;</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">new</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">&nbsp;and used&nbsp;</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">boats</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0">.</span></span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8633" class="elementor-tab-title eael-accordion-header" tabindex="8633" data-tab="3" role="tab" aria-controls="elementor-tab-content-8633"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Do you do retrofits?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8633" class="eael-accordion-content clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-8633"><p></p><p><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError SCXW79707969 BCX0">We</span></span><span class="TextRun SCXW79707969 BCX0" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun SCXW79707969 BCX0"> have regional partners for retrofitting. <a href="mailto: ahoy@evoy.no">Contact us</a> for more information.&nbsp;</span></span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8634" class="elementor-tab-title eael-accordion-header" tabindex="8634" data-tab="4" role="tab" aria-controls="elementor-tab-content-8634"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Will the extra torque damage my stern drive? Can I keep the same propeller?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8634" class="eael-accordion-content clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-8634"><p></p><p>Evoy’s computerised engine controller can be set with parameters that match the stern drive’s torque ratings. Retaining the existing propeller is most likely an option, as the computerised engine controller and electric motor can be selected to match rpm and torque. However, changing the propeller may be desirable in order to achieve increased operational efficiency. In a retrofit, we will usually recommend that the stern drive is changed at the same time as the propulsion system. The main reason is that when an ICE goes in gear, it connects at 600 – 1000 rpm which can be really hard on the stern drive. This is avoided with an electric drive, as it can connect to the stern drive at 0 rpm. We recommend you start with a “clean sheet”, by replacing your stern drive, so you do not have any unpleasant surprises.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8635" class="elementor-tab-title eael-accordion-header" tabindex="8635" data-tab="5" role="tab" aria-controls="elementor-tab-content-8635"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Can I mount solar panels to extend my range?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8635" class="eael-accordion-content clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-8635"><p></p><p>You can add solar panels to your boat and integrate them with our system in the future as an option. However, the limited surface area on a boat, plus the additional weight of the panels may reduce the effectiveness of adding solar panels. Therefore, for optimal speed and range, we recommend that one use land based charging stations in addition to onboard solar system installation, but this depends hugely on the boat.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8636" class="elementor-tab-title eael-accordion-header" tabindex="8636" data-tab="6" role="tab" aria-controls="elementor-tab-content-8636"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> You say Evoy will have full autonomy with time, what is that?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8636" class="eael-accordion-content clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-8636"><p></p><p>Autonomy is commonly divided into 4 or 5 steps. At “Entry Level“ a system allows you to follow a route that is plotted on your navigation aid, wither manually or automatically (auto-routing), whilst requiring the navigator to constantly monitor the system. However, with “Full Autonomy" (Stage 4 or 5) you and your boat can travel from A to B without the need of human interaction, even included docking. This is where Evoy will be with time.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8637" class="elementor-tab-title eael-accordion-header" tabindex="8637" data-tab="7" role="tab" aria-controls="elementor-tab-content-8637"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What is OTA?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8637" class="eael-accordion-content clearfix" data-tab="7" role="tabpanel" aria-labelledby="elementor-tab-title-8637"><p></p><p>Our security and logic are State-of-the-art and we offer our customers Over-The-Air (OTA) software updates. This allows us to keep systems up to date and easier maintenance. If issues should occur, we can do diagnostics OTA and in most cases either repair the problem with software or pinpoint where the hardware problem lays, then to do the repairs fast and efficient. In addition, if customers permit, we can use the Big Data to improve the systems and product line continuously. With that we will make sure to always stay in front and secure that our customers always have and will have the best experiences and products on the market.&nbsp;</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-8638" class="elementor-tab-title eael-accordion-header" tabindex="8638" data-tab="8" role="tab" aria-controls="elementor-tab-content-8638"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What changes do I need to do with my boat to convert to an electric motor system?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-8638" class="eael-accordion-content clearfix" data-tab="8" role="tabpanel" aria-labelledby="elementor-tab-title-8638"><p></p><p>In general, you do not need to do much to retrofit your boat with an electric motor system. Due to the small size of our inboard motor (150 kg / 32 cm Ø / 50 cm L), in most cases there will be sufficient space for the batteries and system components in the engine and fuel tank room. With some boats you will need to do some modifications which an approved marine workshop will be able to complete.</p><p>&nbsp;</p><p>To retrofit your boat with an outboard system the fuel tank room and other compartments will in many cases be sufficient room for batteries and system components. It will require less room under deck for motor, battery and system components with an outboard system compared to an inboard system.</p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-951c372 elementor-widget elementor-widget-menu-anchor" data-id="951c372" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="purchasing" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-627d43c elementor-widget elementor-widget-heading" data-id="627d43c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">PURCHASING</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3be7d62 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3be7d62" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-81ab9b2 elementor-widget elementor-widget-eael-adv-accordion" data-id="81ab9b2" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-81ab9b2" data-accordion-id="81ab9b2" data-accordion-type="accordion" data-toogle-speed="300">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1351" class="elementor-tab-title eael-accordion-header" tabindex="1351" data-tab="1" role="tab" aria-controls="elementor-tab-content-1351"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Where do I buy Evoy Electric Propulsion System?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1351" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1351"><p></p><p>You can now able to design your own system and reserve or pre-order in our <a href="https://config.evoy.no/" target="_blank" rel="noopener">configurator</a>.&nbsp;</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1352" class="elementor-tab-title eael-accordion-header" tabindex="1352" data-tab="2" role="tab" aria-controls="elementor-tab-content-1352"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How long is the delivery time?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1352" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1352"><p></p><p><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">We</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734">&nbsp;</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">are</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734">&nbsp;</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">aiming</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734"> to have </span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">the</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734">&nbsp;first&nbsp;</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">deliveries</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734"> in Q3 2020. Once you have signed your purchase order it will be about 6 months delivery time. R</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734">egional partners and </span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">boat</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734">&nbsp;</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW4020734">builders</span></span><span class="TextRun BCX0 SCXW4020734" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW4020734"> will soon be listed on the website.</span></span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1353" class="elementor-tab-title eael-accordion-header" tabindex="1353" data-tab="3" role="tab" aria-controls="elementor-tab-content-1353"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How long does it take to earn back the higher cost of first time investment?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1353" class="eael-accordion-content clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1353"><p></p><p>This is very dependent on the system that is ordered, and particularly the size of the battery system, as batteries are the most costly part for now. For commercial users their bay-back time is around 5 years, but depends hugely on how much the system is used.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1354" class="elementor-tab-title eael-accordion-header" tabindex="1354" data-tab="4" role="tab" aria-controls="elementor-tab-content-1354"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> When will Evoy deliver to my country?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1354" class="eael-accordion-content clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-1354"><p></p><p>We are looking at <a href="/dealer-application/">international sales and dealership partnerships</a>. Many of our current suppliers and boat makers offer their products internationally. With time, we too will be across the globe.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1355" class="elementor-tab-title eael-accordion-header" tabindex="1355" data-tab="5" role="tab" aria-controls="elementor-tab-content-1355"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What does the electric 150 hp outboard cost?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1355" class="eael-accordion-content clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-1355"><p></p><p>The price will be released towards the end of 2020. Follow us on <a href="https://www.facebook.com/evoy.no/" target="_blank" rel="noopener">Facebook</a> and sign up for our <a href="/newsletter/">newsletter</a> to keep an eye out for updates.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1356" class="elementor-tab-title eael-accordion-header" tabindex="1356" data-tab="6" role="tab" aria-controls="elementor-tab-content-1356"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How long is the Warranty?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1356" class="eael-accordion-content clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-1356"><p></p><p>The warranty of our systems will comply with the countries regulations or better.</p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9746349 elementor-widget elementor-widget-menu-anchor" data-id="9746349" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="motorfaq" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-619c46f elementor-widget elementor-widget-heading" data-id="619c46f" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">MOTOR</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-17e0c86 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="17e0c86" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8c03047 elementor-widget elementor-widget-eael-adv-accordion" data-id="8c03047" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-8c03047" data-accordion-id="8c03047" data-accordion-type="accordion" data-toogle-speed="300">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1461" class="elementor-tab-title eael-accordion-header" tabindex="1461" data-tab="1" role="tab" aria-controls="elementor-tab-content-1461"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What is the conversion rate between kW and hp?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1461" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1461"><p></p><p><span class="TextRun BCX0 SCXW136619083" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW136619083">1hp = 0.74kW.&nbsp;</span></span><span class="TextRun BCX0 SCXW136619083" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW136619083">Evoy</span></span><span class="TextRun BCX0 SCXW136619083" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW136619083"> offers 100-671kW systems </span></span><span class="TextRun BCX0 SCXW136619083" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW136619083">meaning</span></span><span class="TextRun BCX0 SCXW136619083" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW136619083">&nbsp;135-900hp</span></span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1462" class="elementor-tab-title eael-accordion-header" tabindex="1462" data-tab="2" role="tab" aria-controls="elementor-tab-content-1462"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Do you refer to the peak or continuous power of the electric engine?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1462" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1462"><p></p><p>Our system has been designed for commercial use. We have de-rated our system to continuous power.&nbsp;</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1463" class="elementor-tab-title eael-accordion-header" tabindex="1463" data-tab="3" role="tab" aria-controls="elementor-tab-content-1463"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What are the weight and dimensions of the motor?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1463" class="eael-accordion-content clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1463"><p></p><p>The inboard and outboard weighs about 150 kg. The dimensions of the inboard motor is 32 cm <em>diameter and 50 cm long. The dimensions for the outboard motor are yet to be confirmed. </em></p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-19ceb19 elementor-widget elementor-widget-menu-anchor" data-id="19ceb19" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="battery" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8539452 elementor-widget elementor-widget-heading" data-id="8539452" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">BATTERY</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5d438af elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5d438af" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-647e604 elementor-widget elementor-widget-eael-adv-accordion" data-id="647e604" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-647e604" data-accordion-id="647e604" data-accordion-type="accordion" data-toogle-speed="300">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1051" class="elementor-tab-title eael-accordion-header" tabindex="1051" data-tab="1" role="tab" aria-controls="elementor-tab-content-1051"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Isn't it easy to run out of battery mid-trip?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1051" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1051"><p></p><p>At Evoy we have thought carefully about how to maximise range. Our range rings on our display unit and our energy management system, allows you to understand your speed and power constantly. This ensures that with a slight speed adjustment, you can get to where you want to go. As a rule of thumb, you quadruple your range if you reduce from a plane hull speed to below 5 knots.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1052" class="elementor-tab-title eael-accordion-header" tabindex="1052" data-tab="2" role="tab" aria-controls="elementor-tab-content-1052"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How long does it take before I have to change the batteries?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1052" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1052"><p></p><p><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372">Our&nbsp;</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW251556372">batteries</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372">&nbsp;have&nbsp;</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW251556372">been</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372">&nbsp;</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW251556372">rated</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372"> for 14000 </span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW251556372">cycles</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372">&nbsp;</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="SpellingError BCX0 SCXW251556372">when</span></span><span class="TextRun BCX0 SCXW251556372" lang="NB-NO" xml:lang="NB-NO" data-contrast="auto"><span class="NormalTextRun BCX0 SCXW251556372"> used to 80% depth of discharge (original capacity of the battery).&nbsp;</span></span></p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1053" class="elementor-tab-title eael-accordion-header" tabindex="1053" data-tab="3" role="tab" aria-controls="elementor-tab-content-1053"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How long does it take to charge the batteries?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1053" class="eael-accordion-content clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1053"><p></p><p>Evoy has developed a range of different charging options. Our standard AC Charging system can charge with about 22 kW (a 100kWh battery) in about 4 hours if there is an AC outlet big enough to support the onboard charger. There is an optional upgrade to 44 kW charging in about 2 hours. Our DC supercharging 300kW system can be charged in less than 30 minutes.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1054" class="elementor-tab-title eael-accordion-header" tabindex="1054" data-tab="4" role="tab" aria-controls="elementor-tab-content-1054"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Can I charge with an onboard electric generator?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1054" class="eael-accordion-content clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-1054"><p></p><p>In principal yes, but it is not available at the moment. Evoy is exploring fossil free alternatives for range-extenders and hope to have this as an option for our customers in the not to distant future.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-1055" class="elementor-tab-title eael-accordion-header" tabindex="1055" data-tab="5" role="tab" aria-controls="elementor-tab-content-1055"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> What are the weight and dimensions of the batteries?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-1055" class="eael-accordion-content clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-1055"><p></p><p>The Pro batteries weighs about 78 kilos dry with dimensions 753mm (L) x 303mm (W) x 282mm (H). For the Energy Pro and the Power Pro we use 8 of these units pr. battery pack.</p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4c2b57b elementor-widget elementor-widget-menu-anchor" data-id="4c2b57b" data-element_type="widget" data-widget_type="menu-anchor.default">
                                        <div class="elementor-widget-container">
                                            <div id="enviornment" class="elementor-menu-anchor"></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-91b04ab elementor-widget elementor-widget-heading" data-id="91b04ab" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">ENVIRONMENT</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6b19f9e elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6b19f9e" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-daea7a2 elementor-widget elementor-widget-eael-adv-accordion" data-id="daea7a2" data-element_type="widget" data-widget_type="eael-adv-accordion.default">
                                        <div class="elementor-widget-container">
                                            <div class="eael-adv-accordion" id="eael-adv-accordion-daea7a2" data-accordion-id="daea7a2" data-accordion-type="accordion" data-toogle-speed="300">
                                                <div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-2291" class="elementor-tab-title eael-accordion-header" tabindex="2291" data-tab="1" role="tab" aria-controls="elementor-tab-content-2291"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> How much do I pollute using the boat with an Evoy system installed?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-2291" class="eael-accordion-content clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2291"><p></p><p>When you run an electric motor you produce no emissions. However, the energy that is used by a motor can and may have an emissions footprint, depending on where the electricity comes from. If you are interested in knowing more about your energy footprint we recommend contacting your local&nbsp;&nbsp;authorities about energy generation emissions or take a look at this info&nbsp;<a href="https://www.electricitymap.org/?page=map&amp;solar=false&amp;remote=true&amp;wind=false" target="_blank" rel="noopener">map</a>. At Evoy we believe that by moving the maritime transport sector to electric, we can position the maritime industry for a low carbon future.</p><p></p></div>
                                                </div><div class="eael-accordion-list">
                                                    <div id="elementor-tab-title-2292" class="elementor-tab-title eael-accordion-header" tabindex="2292" data-tab="2" role="tab" aria-controls="elementor-tab-content-2292"><i class="fa fa-plus fa-accordion-icon"></i><span class="eael-accordion-tab-title"> Doesn't it pollute when they produce the batteries?</span><i class=" fa-toggle"></i></div><div id="elementor-tab-content-2292" class="eael-accordion-content clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-2292"><p></p><p>Evoy has spent significant time and resources in evaluating battery suppliers that manufacture sustainably. DNV-GL approved meet strict <a href="https://www.dnvgl.com/about/sustainability/index.html" target="_blank" rel="noopener">environmental requirements</a>.</p><p>&nbsp;</p><p>Evoy has also gone one step further and decided to use Chooose to carbon offset all other aspects of our business and production. Read more about <a href="https://chooose.today/" target="_blank" rel="noopener">Chooose.</a></p><p></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7c20bb33 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7c20bb33" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: 0px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9b60913" data-id="9b60913" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-4e27ea4b elementor-widget elementor-widget-heading" data-id="4e27ea4b" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">ALWAYS FIRST</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2fcbb074 elementor-widget elementor-widget-text-editor" data-id="2fcbb074" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Be the first to get Evoy news, product updates and events. Choose your options.</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1a69f7da elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="1a69f7da" data-element_type="widget" data-settings="{&quot;button_width&quot;:&quot;33&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <form class="elementor-form" method="post" name="New Form">
                                                <input type="hidden" name="post_id" value="349">
                                                <input type="hidden" name="form_id" value="1a69f7da">

                                                <input type="hidden" name="queried_id" value="349">

                                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                    <div class="elementor-field-type-checkbox elementor-field-group elementor-column elementor-field-group-6ed25c0 elementor-col-100">
                                                        <div class="elementor-field-subgroup  elementor-subgroup-inline"><span class="elementor-field-option"><input type="checkbox" value="Commercial interest" id="form-field-6ed25c0-0" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-0">Commercial interest</label></span><span class="elementor-field-option"><input type="checkbox" value="Private Buyer" id="form-field-6ed25c0-1" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-1">Private Buyer</label></span><span class="elementor-field-option"><input type="checkbox" value="Evoy News" id="form-field-6ed25c0-2" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-2">Evoy News</label></span></div>
                                                    </div>
                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-33">
                                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Full Name">
                                                    </div>
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-33 elementor-field-required">
                                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Your Email" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-33 e-form__buttons">
                                                        <button type="submit" class="elementor-button elementor-size-sm">
                                                            <span>
                                                                <span class="elementor-align-icon-right elementor-button-icon">
                                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                                </span>
                                                                <span class="elementor-button-text">be first</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>