<div data-elementor-type="wp-page" data-elementor-id="12" class="elementor elementor-12" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-402e0de9 elementor-section-height-min-height elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="402e0de9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;https:\/\/www.evoy.no\/wp-content\/uploads\/2021\/03\/website.banner_2.mp4&quot;,&quot;background_video_start&quot;:0,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_play_on_mobile&quot;:&quot;yes&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-background-video-container">
                    <video class="elementor-background-video-hosted elementor-html5-video" autoplay="" muted="" playsinline="" loop="" src="/wp-content/uploads/2021/03/website.banner_2.mp4" style="width: 2031px; height: 1142.44px;"></video>
                </div>
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6369484b" data-id="6369484b" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e643f2c elementor-widget elementor-widget-heading" data-id="e643f2c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                THE ELECTRIC<br>
                                                <b>GREEN REVOLUTION</b>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-17e247d elementor-widget elementor-widget-text-editor" data-id="17e247d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Evoy strives to deliver an irresistible boating experience by conceiving long-lasting Electric Boat Motors systems, accelerating the transition to sustainable boating.&nbsp;</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6b32d6b elementor-align-left elementor-mobile-align-left elementor-widget elementor-widget-button" data-id="6b32d6b" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="https://config.evoy.no/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-icon elementor-align-icon-right">
                                                            <i aria-hidden="true" class="fa fa-arrow-right"></i>
                                                        </span>
                                                        <span class="elementor-button-text">DESIGN MY SYSTEM</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-a3c7409 elementor-section-content-middle elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="a3c7409" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-46967f7 elementor-sm-100" data-id="46967f7" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ea68f10 elementor-widget elementor-widget-heading" data-id="ea68f10" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">INBOARD MOTOR</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-bda9622 elementor-widget elementor-widget-image" data-id="bda9622" data-element_type="widget" data-settings="{&quot;motion_fx_motion_fx_mouse&quot;:&quot;yes&quot;}" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <a href="/inboard/">
                                                    <img src="/images/inboard.motor_.speed_-p48x6x18bj17de67b3n299npye63epxn64zsbz7n5s.png" title="inboard.motor.speed" alt="evoy electric inboard motor" class="elementor-animation-grow">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-17f2796e elementor-sm-100" data-id="17f2796e" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2ace864 elementor-widget elementor-widget-heading" data-id="2ace864" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">OUTBOARD MOTOR</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d837999 elementor-widget elementor-widget-image" data-id="d837999" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <a href="/outboard/">
                                                    <img src="/images/2_Evoy-150-Turn-Left-Front-p4y3ehrzqw9kaly5ve910ffy5p5xh88xfc243wfqio.png" title="outboard_Evoy-electricmotor" alt="outboard_Evoy-electricmotor" class="elementor-animation-grow">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7dc69c9f elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="7dc69c9f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-12b6b674 animated fadeInLeft" data-id="12b6b674" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_tablet&quot;:&quot;fadeInLeft&quot;,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2d112c0 elementor-widget elementor-widget-heading" data-id="2d112c0" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">
                                                ELECTRIC<br>
                                                <b>MOTOR SYSTEM</b>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-896e7ad animated-slow elementor-widget elementor-widget-text-editor" data-id="896e7ad" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:0}" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>+50 knots</p><p>+200 nm range</p><p>Up to 800 hp</p><p>Retrofit compatible</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-d983571 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="d983571" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4edbb61 animated fadeInRight" data-id="4edbb61" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;,&quot;animation_tablet&quot;:&quot;fadeInRight&quot;,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-634a93e elementor-widget elementor-widget-heading" data-id="634a93e" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">
                                                LESS NOISE<br>
                                                <b>CLOSE TO NATURE</b>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c23f89d animated-slow elementor-widget elementor-widget-text-editor" data-id="c23f89d" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:0}" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>No fumes</p><p>Reduced noise</p><p>Supercharging</p><p>Less maintenance</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1a91577 elementor-widget elementor-widget-spacer" data-id="1a91577" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-85a3d95 elementor-section-height-min-height elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="85a3d95" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-71221b3 animated fadeInLeft" data-id="71221b3" data-element_type="column" data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;,&quot;animation_tablet&quot;:&quot;fadeInLeft&quot;,&quot;animation_mobile&quot;:&quot;fadeInLeft&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bde1ee9 elementor-widget elementor-widget-heading" data-id="bde1ee9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">
                                                SMART<br>
                                                <b>BOATING</b>
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-74ac8b7 animated-slow elementor-widget elementor-widget-text-editor" data-id="74ac8b7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;,&quot;_animation_delay&quot;:0}" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Connected Boating</p><p>Remote Maintenance</p><p>Advanced Safety Features</p><p>Pioneering User Experience</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-faddc86 elementor-widget elementor-widget-spacer" data-id="faddc86" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-62217329 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="62217329" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3aa600cf" data-id="3aa600cf" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-ef775e0 elementor-widget elementor-widget-heading" data-id="ef775e0" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                Join the Evoy Adventure<br>
                                                <b>and be part of the sea change</b>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-1dd18fe8 elementor-widget elementor-widget-text-editor" data-id="1dd18fe8" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Use our configurator by clicking below. Select your Evoy System – inboard or outboard – that fits your requirements, calculate your savings, and enhance your boat experience! Be part of the green wave.</p></div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-1f91208 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1f91208" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-narrow">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-aa84850" data-id="aa84850" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-932d86c elementor-align-justify elementor-mobile-align-justify elementor-tablet-align-justify elementor-widget elementor-widget-button" data-id="932d86c" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="https://config.evoy.no/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">DESIGN MY SYSTEM</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2822813" data-id="2822813" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-74e28d7 elementor-align-justify elementor-mobile-align-justify elementor-tablet-align-justify elementor-widget elementor-widget-button" data-id="74e28d7" data-element_type="widget" data-widget_type="button.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-button-wrapper">
                                                                        <a href="/Home/FAQ" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                                            <span class="elementor-button-content-wrapper">
                                                                                <span class="elementor-button-text">FAQ</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-976cc31" data-id="976cc31" data-element_type="column">
                                                    <div class="elementor-column-wrap">
                                                        <div class="elementor-widget-wrap">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="post-tags">
</div>
