@section styles {
    <link href="/css/news/post-73.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="73" class="elementor elementor-73" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-89f1892 elementor-section-height-min-height elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="89f1892" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: 0px;">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f8baa80" data-id="f8baa80" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-91312fc elementor-widget elementor-widget-heading" data-id="91312fc" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">EBVIE <b>NEWS</b></h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3045291d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3045291d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b1859d3" data-id="2b1859d3" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-78896cd6 elementor-widget elementor-widget-spacer" data-id="78896cd6" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8c35a7b elementor-grid-1 elementor-grid-tablet-1 elementor-posts--thumbnail-none elementor-grid-mobile-1 elementor-widget elementor-widget-posts" data-id="8c35a7b" data-element_type="widget" data-settings="{&quot;classic_columns&quot;:&quot;1&quot;,&quot;classic_columns_tablet&quot;:&quot;1&quot;,&quot;classic_columns_mobile&quot;:&quot;1&quot;,&quot;classic_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:35,&quot;sizes&quot;:[]}}" data-widget_type="posts.classic">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-posts-container elementor-posts elementor-posts--skin-classic elementor-grid">
                                                <article class="elementor-post elementor-grid-item post-11469 post type-post status-publish format-standard has-post-thumbnail hentry category-news category-hr">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/new-cto/">
                                                                A young and dynamic CTO teams up with Audun
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>Our CTO since the beginning of Ebvie, Audun Magne Askeland wanted to go back to being more hands-on and more involved in the R&amp;D processes. He has therefore changed to the position as VP Engineering and will work hand in hand with our new CTO.</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/new-cto/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-11335 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/worlds-first-supercharger-for-boats/">
                                                                Charging E-Boats with 152kW power
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>The first supercharger in the world was opened on the west coast of Norway. The supercharger from PLUG is the first in a series planned along the Norwegian coast.</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/worlds-first-supercharger-for-boats/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-11126 post type-post status-publish format-standard has-post-thumbnail hentry category-business category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/partnership-boat-supercharger/">
                                                                Ebvie in partnership for Supercharger
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>Florø marina in Norway close to EBVIE’s headquarters will be equipped with the Worlds-first Supercharger for boats. (+150 kW).</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/partnership-boat-supercharger/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-10914 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/evoy-rebranding/">
                                                                Rebranding
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>Ebvie, the technology leader of Electrical Motors for the boating industry, based in Norway, celebrates its 3-years anniversary tomorrow. An opportunity for the brand to rethink its positioning.</p>
                                                            <p>Since the launch of the electric demo-boat the Evoy1, their first client handover, and the opening of its office in France, Ebvie is reinventing itself and reinforce its passion for the sea(change).&nbsp;</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/evoy-rebranding/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-10718 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/karstensen-choose-evoy-inboard/">
                                                                Karstensen Choose Ebvie
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>Ebvie, the technology leader of electrical motors for the boats, has conducted its first client E. Karstensen Boat handover on the 19th of March 2021 in Florø, close to its headquarters. Tuesday 30th of March 2021</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/karstensen-choose-evoy-inboard/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-8956 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/bienvenu-a-la-france/">
                                                                Bienvenu à la France!
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>We are very humble for the massive response we are getting worldwide through a high number of requests and a surge for our products, and now advance towards our global expansion. </p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/bienvenu-a-la-france/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-8750 post type-post status-publish format-standard has-post-thumbnail hentry category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/terrance-blanchard/">
                                                                Meet our new Chief Operations Officer
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>Ebvie is growing fast and has recently onboarded Terrance Blanchard from Canada.</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/terrance-blanchard/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                                <article class="elementor-post elementor-grid-item post-7903 post type-post status-publish format-standard hentry category-news">
                                                    <div class="elementor-post__text">
                                                        <h3 class="elementor-post__title">
                                                            <a href="/outboard-closing-in/">
                                                                Outboard closing in
                                                            </a>
                                                        </h3>
                                                        <div class="elementor-post__excerpt">
                                                            <p>We are as excited as you are about the upcoming launch of our brand new electric outboard Gale Force Series. We are getting closer by the day!</p>
                                                        </div>
                                                        <a class="elementor-post__read-more" href="/outboard-closing-in/">
                                                            Full Story »
                                                        </a>
                                                    </div>
                                                </article>
                                            </div>
                                            <nav class="elementor-pagination" role="navigation" aria-label="Pagination">
                                                <span class="page-numbers prev">« Previous</span>
                                                <span aria-current="page" class="page-numbers current"><span class="elementor-screen-only">Page</span>1</span>
                                                <a class="page-numbers" href="/Home/News2/"><span class="elementor-screen-only">Page</span>2</a>
                                                <a class="page-numbers" href="/Home/News3/"><span class="elementor-screen-only">Page</span>3</a>
                                                <a class="page-numbers" href="/Home/News4/"><span class="elementor-screen-only">Page</span>4</a>
                                                <a class="page-numbers" href="/Home/News5/"><span class="elementor-screen-only">Page</span>5</a>
                                                <a class="page-numbers next" href="/Home/News2/">Next »</a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7f169c0c elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7f169c0c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: 0px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-79324bc5" data-id="79324bc5" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-71185e0e elementor-widget elementor-widget-heading" data-id="71185e0e" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">ALWAYS FIRST</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3f46da60 elementor-widget elementor-widget-text-editor" data-id="3f46da60" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Be the first to get Ebvie news, product updates and events. Choose your options.</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5e2b2969 elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="5e2b2969" data-element_type="widget" data-settings="{&quot;button_width&quot;:&quot;33&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <form class="elementor-form" method="post" name="New Form">
                                                <input type="hidden" name="post_id" value="73">
                                                <input type="hidden" name="form_id" value="5e2b2969">

                                                <input type="hidden" name="queried_id" value="73">

                                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                    <div class="elementor-field-type-checkbox elementor-field-group elementor-column elementor-field-group-6ed25c0 elementor-col-100">
                                                        <div class="elementor-field-subgroup  elementor-subgroup-inline"><span class="elementor-field-option"><input type="checkbox" value="Commercial interest" id="form-field-6ed25c0-0" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-0">Commercial interest</label></span><span class="elementor-field-option"><input type="checkbox" value="Private Buyer" id="form-field-6ed25c0-1" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-1">Private Buyer</label></span><span class="elementor-field-option"><input type="checkbox" value="Ebvie News" id="form-field-6ed25c0-2" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-2">Ebvie News</label></span></div>
                                                    </div>
                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-33">
                                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Full Name">
                                                    </div>
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-33 elementor-field-required">
                                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Your Email" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-33 e-form__buttons">
                                                        <button type="submit" class="elementor-button elementor-size-sm">
                                                            <span>
                                                                <span class="elementor-align-icon-right elementor-button-icon">
                                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                                </span>
                                                                <span class="elementor-button-text">be first</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>