@section styles {
    <link href="/css/inboard/post-171.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="474" class="elementor elementor-474" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-402e0de9 elementor-section-height-min-height elementor-section-stretched elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="402e0de9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6369484b" data-id="6369484b" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e643f2c elementor-widget elementor-widget-heading" data-id="e643f2c" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h1 class="elementor-heading-title elementor-size-default">OUR <b>TEAM</b> </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-eef625b elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="eef625b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1250bb9" data-id="1250bb9" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-53fccf5 elementor-widget elementor-widget-heading" data-id="53fccf5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default"><b>Ebvie Leadership</b></h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8a19a3e elementor-widget elementor-widget-text-editor" data-id="8a19a3e" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix">
                                                <p><span class="TextRun SCXW18389619 BCX0" lang="EN-US" xml:lang="EN-US" data-contrast="auto"><span class="NormalTextRun SCXW18389619 BCX0" data-ccp-charstyle="normaltextrun" data-ccp-charstyle-defn="{">In Ebvie, we acknowledge and recognize that our most important asset is the people and all the experience and competence that they bring to the table. That is why we are so proud to talk about the team and the leaders standing shoulder to shoulder.</span></span><span class="TextRun SCXW18389619 BCX0" lang="EN-US" xml:lang="EN-US" data-contrast="auto"><span class="NormalTextRun SCXW18389619 BCX0" data-ccp-charstyle="eop" data-ccp-charstyle-defn="{"> </span></span><span class="EOP SCXW18389619 BCX0" data-ccp-props="{">&nbsp;</span></p>
                                                <p>The leadership team are a team of experts from diverse and relevant backgrounds from maritime and business perspectives. Making sure to bring you the best possible services and products, to make a greener world and the sea a better place to Sail.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-a9b6c04 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a9b6c04" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-0b3dd41" data-id="0b3dd41" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1905cf1 elementor-widget elementor-widget-image" data-id="1905cf1" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="462" height="600" src="/images/our-team/ceo.leif_-1.jpg" class="attachment-full size-full" alt="CEO Ebvie Leif A. Stavøstrand" loading="lazy" srcset="/images/our-team/ceo.leif_-1.jpg 462w, /images/our-team/ceo.leif_-1-231x300.jpg 231w" sizes="(max-width: 462px) 100vw, 462px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-106128c elementor-widget elementor-widget-heading" data-id="106128c" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Leif A. Stavøstrand</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-57b18f1 elementor-widget elementor-widget-text-editor" data-id="57b18f1" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Co-founder &amp; CEO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f7c7e6a" data-id="f7c7e6a" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-d301300 elementor-widget elementor-widget-image" data-id="d301300" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="462" height="600" src="/images/our-team/cco.per_.arne_-1.jpg" class="attachment-full size-full" alt="CCO Ebvie Per Arne Meek" loading="lazy" srcset="/images/our-team/cco.per_.arne_-1.jpg 462w, /images/our-team/cco.per_.arne_-1-231x300.jpg 231w" sizes="(max-width: 462px) 100vw, 462px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-326de82 elementor-widget elementor-widget-heading" data-id="326de82" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Per Arne Meek</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-455e11b elementor-widget elementor-widget-text-editor" data-id="455e11b" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>CCO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f016daa" data-id="f016daa" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-0df6a0c elementor-widget elementor-widget-image" data-id="0df6a0c" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="462" height="600" src="/images/our-team/cto.audun_.askeland.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="/images/our-team/cto.audun_.askeland.jpg 462w, /images/our-team/cto.audun_.askeland-231x300.jpg 231w" sizes="(max-width: 462px) 100vw, 462px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-e0260ac elementor-widget elementor-widget-heading" data-id="e0260ac" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Audun Magne Askeland</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-52cc415 elementor-widget elementor-widget-text-editor" data-id="52cc415" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>CTO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-cf1422c" data-id="cf1422c" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ac68ad7 elementor-widget elementor-widget-image" data-id="ac68ad7" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="462" height="600" src="/images/our-team/coo.terrence-1.jpg" class="attachment-large size-large" alt="COO Ebvie Terrance Blanchard" loading="lazy" srcset="/images/our-team/coo.terrence-1.jpg 462w, /images/our-team/coo.terrence-1-231x300.jpg 231w" sizes="(max-width: 462px) 100vw, 462px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-84a36f9 elementor-widget elementor-widget-heading" data-id="84a36f9" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Terrance Blanchard</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2905852 elementor-widget elementor-widget-text-editor" data-id="2905852" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>COO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-6eba0f5 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6eba0f5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ca05310" data-id="ca05310" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-91ca1a6 elementor-widget elementor-widget-heading" data-id="91ca1a6" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default"><b>Ebvie Board of Directors</b></h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-710e805 elementor-widget elementor-widget-text-editor" data-id="710e805" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Ebvie take pride in bringing onboard the best possible helpers and advisors at any time. So is also the case with the agile and professional board, where their diverse and combined expertise is sure to put Ebvie on the course to a bright future for all the stakeholders involved.</p></div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-b8415ab elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="b8415ab" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-fa12ed7" data-id="fa12ed7" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-75dcb80 elementor-widget elementor-widget-image" data-id="75dcb80" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="380" height="380" src="/images/our-team/AlfHelgeAarskog.edit_.jpg" class="attachment-large size-large" alt="Picture of Alf Helge Aarskog" loading="lazy" srcset="/images/our-team/AlfHelgeAarskog.edit_.jpg 380w, /images/our-team/AlfHelgeAarskog.edit_-300x300.jpg 300w, /images/our-team/AlfHelgeAarskog.edit_-150x150.jpg 150w" sizes="(max-width: 380px) 100vw, 380px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-eabc151 elementor-widget elementor-widget-heading" data-id="eabc151" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Alf-Helge Aarskog</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-d290350 elementor-widget elementor-widget-text-editor" data-id="d290350" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>COB</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-fea3786" data-id="fea3786" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7e18fc7 elementor-widget elementor-widget-image" data-id="7e18fc7" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="312" height="312" src="/images/our-team/Anne-Mari-Sunndal-Bøe.png" class="attachment-large size-large" alt="Image of Anne Mari Sunndal Bøe" loading="lazy" srcset="/images/our-team/Anne-Mari-Sunndal-Bøe.png 312w, /images/our-team/Anne-Mari-Sunndal-Bøe-300x300.png 300w, /images/our-team/Anne-Mari-Sunndal-Bøe-150x150.png 150w" sizes="(max-width: 312px) 100vw, 312px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-1104b72 elementor-widget elementor-widget-heading" data-id="1104b72" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Anne-Mari Sunndal Bøe</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-38ba334 elementor-widget elementor-widget-text-editor" data-id="38ba334" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>CFO, Fjord 1</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-9436274" data-id="9436274" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-e2cf809 elementor-widget elementor-widget-image" data-id="e2cf809" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="800" height="800" src="/images/our-team/Jenny-Carenco-1-1030x1030-1-1024x1024.jpg" class="attachment-large size-large" alt="Image of Jenny Carenco" loading="lazy" srcset="/images/our-team/Jenny-Carenco-1-1030x1030-1-1024x1024.jpg 1024w, /images/our-team/Jenny-Carenco-1-1030x1030-1-300x300.jpg 300w, /images/our-team/Jenny-Carenco-1-1030x1030-1-150x150.jpg 150w, /images/our-team/Jenny-Carenco-1-1030x1030-1-768x768.jpg 768w, /images/our-team/Jenny-Carenco-1-1030x1030-1.jpg 1030w" sizes="(max-width: 800px) 100vw, 800px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-c79351a elementor-widget elementor-widget-heading" data-id="c79351a" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Jenny Carenco</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-0f77f77 elementor-widget elementor-widget-text-editor" data-id="0f77f77" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>CEO, Prosper Social Impact, Sweden</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-dcdf8d3" data-id="dcdf8d3" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-9f6ce37 elementor-widget elementor-widget-image" data-id="9f6ce37" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="800" height="800" src="/images/our-team/RogerFlolo-1024x1024.jpg" class="attachment-large size-large" alt="Picture of Roger Flølo" loading="lazy" srcset="/images/our-team/RogerFlolo-1024x1024.jpg 1024w, /images/our-team/RogerFlolo-300x300.jpg 300w, /images/our-team/RogerFlolo-150x150.jpg 150w, /images/our-team/RogerFlolo-768x768.jpg 768w, /images/our-team/RogerFlolo.jpg 1030w" sizes="(max-width: 800px) 100vw, 800px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-97b437a elementor-widget elementor-widget-heading" data-id="97b437a" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Roger Flølo</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-b092d37 elementor-widget elementor-widget-text-editor" data-id="b092d37" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Partner, Fjord Invest</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-088df57" data-id="088df57" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-150a791 elementor-widget elementor-widget-image" data-id="150a791" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="800" height="800" src="/images/our-team/Knud-Lorentzen-1-1030x1030-1-1024x1024.jpg" class="attachment-large size-large" alt="Image of Knud Lorentzen" loading="lazy" srcset="/images/our-team/Knud-Lorentzen-1-1030x1030-1-1024x1024.jpg 1024w, /images/our-team/Knud-Lorentzen-1-1030x1030-1-300x300.jpg 300w, /images/our-team/Knud-Lorentzen-1-1030x1030-1-150x150.jpg 150w, /images/our-team/Knud-Lorentzen-1-1030x1030-1-768x768.jpg 768w, /images/our-team/Knud-Lorentzen-1-1030x1030-1.jpg 1030w" sizes="(max-width: 800px) 100vw, 800px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-be5ad94 elementor-widget elementor-widget-heading" data-id="be5ad94" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Knud Lorentzen</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-facbe4a elementor-widget elementor-widget-text-editor" data-id="facbe4a" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Independent Lawyer</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-271c6fb elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="271c6fb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-22e04ff" data-id="22e04ff" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-032e0a0 elementor-widget elementor-widget-heading" data-id="032e0a0" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default"><b>Ebvie Advisory Board</b></h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-775366a elementor-widget elementor-widget-text-editor" data-id="775366a" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Ebvie has attracted extraordinary individuals to the Advisory Board to guide strategic direction, create industrial ties and accelerate the financial sustainable growth.</p></div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-a0d341a elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="a0d341a" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-79463b5" data-id="79463b5" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-30a1f9d elementor-widget elementor-widget-image" data-id="30a1f9d" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="500" height="500" src="/images/our-team/silje.vallestad.500x500.jpg" class="attachment-large size-large" alt="Ebvie advisory board memeber Silje Vallestad" loading="lazy" srcset="/images/our-team/silje.vallestad.500x500.jpg 500w, /images/our-team/silje.vallestad.500x500-300x300.jpg 300w, /images/our-team/silje.vallestad.500x500-150x150.jpg 150w" sizes="(max-width: 500px) 100vw, 500px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-cadd5d0 elementor-widget elementor-widget-heading" data-id="cadd5d0" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Silje Vallestad</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-9c8e10c elementor-widget elementor-widget-text-editor" data-id="9c8e10c" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Future Talks, Founder</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-a9b9a7f" data-id="a9b9a7f" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ede231b elementor-widget elementor-widget-image" data-id="ede231b" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="500" height="500" src="/images/our-team/trondriiberknudsen.500x500.jpg" class="attachment-large size-large" alt="Ebvie advisory board member Trond Riiber Knudsen" loading="lazy" srcset="/images/our-team/trondriiberknudsen.500x500.jpg 500w, /images/our-team/trondriiberknudsen.500x500-300x300.jpg 300w, /images/our-team/trondriiberknudsen.500x500-150x150.jpg 150w" sizes="(max-width: 500px) 100vw, 500px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-ecd7795 elementor-widget elementor-widget-heading" data-id="ecd7795" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Trond Riiber Knudsen</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-0d2de61 elementor-widget elementor-widget-text-editor" data-id="0d2de61" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>TRK Group, Founder &amp; CEO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-11149de" data-id="11149de" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-170d021 elementor-widget elementor-widget-image" data-id="170d021" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="500" height="500" src="/images/our-team/johan.brand_.500x500.jpg" class="attachment-large size-large" alt="Ebvie advisory board member Johan Brand" loading="lazy" srcset="/images/our-team/johan.brand_.500x500.jpg 500w, /images/our-team/johan.brand_.500x500-300x300.jpg 300w, /images/our-team/johan.brand_.500x500-150x150.jpg 150w" sizes="(max-width: 500px) 100vw, 500px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-5fdc06b elementor-widget elementor-widget-heading" data-id="5fdc06b" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Johan Brand</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-c3197b1 elementor-widget elementor-widget-text-editor" data-id="c3197b1" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Kahoot, Co-founder</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-de09e08" data-id="de09e08" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-64f2eaf elementor-widget elementor-widget-image" data-id="64f2eaf" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="432" height="432" src="/images/our-team/eric.wahlforss.432x432.jpg" class="attachment-large size-large" alt="Ebvie advisory board member Eric Wahlforss" loading="lazy" srcset="/images/our-team/eric.wahlforss.432x432.jpg 432w, /images/our-team/eric.wahlforss.432x432-300x300.jpg 300w, /images/our-team/eric.wahlforss.432x432-150x150.jpg 150w" sizes="(max-width: 432px) 100vw, 432px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-9303225 elementor-widget elementor-widget-heading" data-id="9303225" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Eric Wahlforss</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-7948359 elementor-widget elementor-widget-text-editor" data-id="7948359" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Dance, Founder &amp; CEO</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-inner-column elementor-element elementor-element-89af6f1" data-id="89af6f1" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ed744a3 elementor-widget elementor-widget-image" data-id="ed744a3" data-element_type="widget" data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="321" height="321" src="/images/our-team/knut.heiberg.andersen.321x321.jpg" class="attachment-large size-large" alt="Ebvie advisory board member Knut Heiberg Andersen" loading="lazy" srcset="/images/our-team/knut.heiberg.andersen.321x321.jpg 321w, /images/our-team/knut.heiberg.andersen.321x321-300x300.jpg 300w, /images/our-team/knut.heiberg.andersen.321x321-150x150.jpg 150w" sizes="(max-width: 321px) 100vw, 321px">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-170f4ee elementor-widget elementor-widget-heading" data-id="170f4ee" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <h2 class="elementor-heading-title elementor-size-default">Knut Heiberg Andersen</h2>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-c5a4987 elementor-widget elementor-widget-text-editor" data-id="c5a4987" data-element_type="widget" data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-text-editor elementor-clearfix"><p>Windy Boats, Executive Chairman</p></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-2262bec elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2262bec" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-74c9a5b" data-id="74c9a5b" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-9972519 elementor-widget elementor-widget-heading" data-id="9972519" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">
                                                <b>The people who work at Ebvie</b>
                                                share the vision and values of
                                                our company
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7f0aed2 elementor-widget elementor-widget-text-editor" data-id="7f0aed2" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>We have the vision to eliminate boating emissions by developing innovative electric motor systems. This is born from committed craftsmanship, personality, and passion.&nbsp;</p><p>Our employees are our most valuable assets who sail our boat and we appreciate every singe one of them.&nbsp;</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b867d9a elementor-align-left elementor-mobile-align-justify elementor-widget elementor-widget-button" data-id="b867d9a" data-element_type="widget" data-widget_type="button.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-button-wrapper">
                                                <a href="/team-evoy/" class="elementor-button-link elementor-button elementor-size-sm" role="button">
                                                    <span class="elementor-button-content-wrapper">
                                                        <span class="elementor-button-text">MEET OUR TEAM</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-fc45121 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fc45121" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c27d060" data-id="c27d060" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-74ae584 elementor-widget elementor-widget-heading" data-id="74ae584" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;none&quot;}" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default"><b>Awards &amp; Grants</b></h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a2c2fc3 elementor-arrows-position-outside elementor-widget elementor-widget-image-carousel" data-id="a2c2fc3" data-element_type="widget" data-settings="{&quot;slides_to_show&quot;:&quot;3&quot;,&quot;slides_to_show_tablet&quot;:&quot;2&quot;,&quot;slides_to_show_mobile&quot;:&quot;1&quot;,&quot;slides_to_scroll&quot;:&quot;1&quot;,&quot;slides_to_scroll_tablet&quot;:&quot;1&quot;,&quot;slides_to_scroll_mobile&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;image_spacing_custom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:25,&quot;sizes&quot;:[]},&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}" data-widget_type="image-carousel.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image-carousel-wrapper swiper-container swiper-container-horizontal" dir="ltr">
                                                <div class="elementor-image-carousel swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1145px, 0px, 0px);">
                                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="6" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/S-og-Fj-Fylkeskommune-logo_web_500px-300x195.png" alt="Sogn og Fjordane Fylkeskommune logo"></figure></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="7" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/eic.accellerator.eu_.logo_-1.svg" alt="Eic Accellerator EU logo"></figure></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="8" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/SPV-logo-FARGER-300x49.png" alt="SPV logo FARGER"></figure></div>
                                                    <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/DRIV_logo_web_500px-300x158.png" alt="DRIV logo"></figure></div><div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/Oslo-Innovation-Week-100-Pitches-web-2-300x139.png" alt="100Pitches Oslo innovation week logo"></figure></div><div class="swiper-slide" data-swiper-slide-index="2" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/InnovasjonNorge-300x104.png" alt="InnovasjonNorge"></figure></div><div class="swiper-slide" data-swiper-slide-index="3" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/SPIR_logo_web_500px-300x154.png" alt="SPIR logo"></figure></div><div class="swiper-slide" data-swiper-slide-index="4" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/EIT-CKIC-Logo_Transparent_Standard_HighQuality-300x169.png" alt="Climate-KIC logo"></figure></div><div class="swiper-slide" data-swiper-slide-index="5" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/NSA_logo_normal-300x173.png" alt="NSA_logo_normal"></figure></div><div class="swiper-slide" data-swiper-slide-index="6" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/S-og-Fj-Fylkeskommune-logo_web_500px-300x195.png" alt="Sogn og Fjordane Fylkeskommune logo"></figure></div><div class="swiper-slide" data-swiper-slide-index="7" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/eic.accellerator.eu_.logo_-1.svg" alt="Eic Accellerator EU logo"></figure></div><div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="8" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/SPV-logo-FARGER-300x49.png" alt="SPV logo FARGER"></figure></div>			<div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/DRIV_logo_web_500px-300x158.png" alt="DRIV logo"></figure></div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/Oslo-Innovation-Week-100-Pitches-web-2-300x139.png" alt="100Pitches Oslo innovation week logo"></figure></div><div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="width: 356.667px; margin-right: 25px;"><figure class="swiper-slide-inner"><img class="swiper-slide-image" src="/images/our-team/InnovasjonNorge-300x104.png" alt="InnovasjonNorge"></figure></div>
                                                </div>
                                                <div class="elementor-swiper-button elementor-swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
                                                    <i class="eicon-chevron-left" aria-hidden="true"></i>
                                                    <span class="elementor-screen-only">Previous</span>
                                                </div>
                                                <div class="elementor-swiper-button elementor-swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
                                                    <i class="eicon-chevron-right" aria-hidden="true"></i>
                                                    <span class="elementor-screen-only">Next</span>
                                                </div>
                                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3538c85 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3538c85" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4005837" data-id="4005837" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-c813b57 elementor-widget elementor-widget-heading" data-id="c813b57" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">WOULD YOU LIKE TO INVEST IN EBVIE?</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6e0c29c elementor-widget elementor-widget-text-editor" data-id="6e0c29c" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Complete the<a href="/investor-new/"> Investor Enquiry Form</a> and we will keep you posted.</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>