@section styles {
    <link href="/css/pressroom/post-387.css" rel="stylesheet" type="text/css" />
    <link href="/css/pressroom/post-474.css" rel="stylesheet" type="text/css" />
}
<div data-elementor-type="wp-page" data-elementor-id="387" class="elementor elementor-387" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-3045291d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3045291d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2b1859d3" data-id="2b1859d3" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-78896cd6 elementor-widget elementor-widget-spacer" data-id="78896cd6" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-634018eb elementor-widget elementor-widget-heading" data-id="634018eb" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">evoy in the news</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-10d863c9 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="10d863c9" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-2eda371d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2eda371d" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6d21a498" data-id="6d21a498" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-41503e1c elementor-widget elementor-widget-htmega-imagegrid-addons" data-id="41503e1c" data-element_type="widget" data-widget_type="htmega-imagegrid-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-gridimage-area htmega-image-gridstyle-1">
                                                <div class="htb-row">
                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.sustainableboatnews.com/kruser-offers-high-speed-electric-boat-sharing-option/" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/hydrolift.kruser.evoy_-1024x1024.png" class="attachment-large size-large" alt="image of Hydrolift electric boat powered by evoy" loading="lazy" srcset="/images/pressroom/hydrolift.kruser.evoy_-1024x1024.png 1024w, /images/pressroom/hydrolift.kruser.evoy_-300x300.png 300w, /images/pressroom/hydrolift.kruser.evoy_-150x150.png 150w, /images/pressroom/hydrolift.kruser.evoy_-768x768.png 768w, /images/pressroom/hydrolift.kruser.evoy_.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>sustainableboatnews.com</h2><p>Evoy and Hydrolift with an electric boat offered through Kruser's boat pool</p><a class="read-btn" href="https://www.sustainableboatnews.com/kruser-offers-high-speed-electric-boat-sharing-option/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.sustainableboatnews.com/evoy-partnership-with-sailgp-sail-league-furthers-sustainable-boating/" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/SailGP_logo_Instagram-1024x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="/images/pressroom/SailGP_logo_Instagram-1024x1024.png 1024w, /images/pressroom/SailGP_logo_Instagram-300x300.png 300w, /images/pressroom/SailGP_logo_Instagram-150x150.png 150w, /images/pressroom/SailGP_logo_Instagram-768x768.png 768w, /images/pressroom/SailGP_logo_Instagram.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>sustainableboatnews.com</h2><p>Evoy partnership with SailGP sail league furthers sustainable boating</p><a class="read-btn" href="https://www.sustainableboatnews.com/evoy-partnership-with-sailgp-sail-league-furthers-sustainable-boating/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://plugboats.com/worlds-most-powerful-electric-outboard-sets-challenge/?fbclid=IwAR193jOq3PJgC3vUaqAMImRQoF6cTfMfwOzh536AzTukqOt232KnxLMZMH4" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/Untitled-design-8-1024x1024.png" class="attachment-large size-large" alt="Image of Christer Ervik og Leif Stavøstrand" loading="lazy" srcset="/images/pressroom/Untitled-design-8-1024x1024.png 1024w, /images/pressroom/Untitled-design-8-300x300.png 300w, /images/pressroom/Untitled-design-8-150x150.png 150w, /images/pressroom/Untitled-design-8-768x768.png 768w, /images/pressroom/Untitled-design-8.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>PLUGBOATS.COM</h2><p>World’s most powerful electric outboard sets challenge</p><a class="read-btn" href="https://plugboats.com/worlds-most-powerful-electric-outboard-sets-challenge/?fbclid=IwAR193jOq3PJgC3vUaqAMImRQoF6cTfMfwOzh536AzTukqOt232KnxLMZMH4" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://salmonbusiness.com/evoy-nabs-e4-2-million-in-eu-support/" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Evoy-close-up-604x604px.jpg" class="attachment-large size-large" alt="Image of Evoy electric boat systems" loading="lazy" srcset="/images/pressroom/Evoy-close-up-604x604px.jpg 604w, /images/pressroom/Evoy-close-up-604x604px-300x300.jpg 300w, /images/pressroom/Evoy-close-up-604x604px-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>salmonbusiness.com</h2><p>Evoy nabs €4.2 million in EU support</p><a class="read-btn" href="https://salmonbusiness.com/evoy-nabs-e4-2-million-in-eu-support/" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.yachtworld.com/research/exciting-news-for-electric-boats-from-evoy/?fbclid=IwAR3nn9hOlOR7GOZ5flb0V0T-nJ3jUlSooISKTDiU6YtyhdG0bG0CaLY9Klc" target="_blank" rel="noopener"><img width="604" height="598" src="/images/pressroom/Evoy-calm-water-604x604-1.jpg" class="attachment-large size-large" alt="Image of Evoy electric boat systems" loading="lazy" srcset="/images/pressroom/Evoy-calm-water-604x604-1.jpg 604w, /images/pressroom/Evoy-calm-water-604x604-1-300x297.jpg 300w, /images/pressroom/Evoy-calm-water-604x604-1-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>yachtworld.com</h2><p>Exciting News for Electric Boats from Evoy</p><a class="read-btn" href="https://www.yachtworld.com/research/exciting-news-for-electric-boats-from-evoy/?fbclid=IwAR3nn9hOlOR7GOZ5flb0V0T-nJ3jUlSooISKTDiU6YtyhdG0bG0CaLY9Klc" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://cleantechnica.com/2020/06/15/evoy-developing-150-hp-electric-outboard-motor-with-hurtigruten-frydenbo/?fbclid=IwAR3fdq2MKZpjeUbhn1AH9jTre8ro5Au1i6LW8DoE6kZrx9EL1SdkcOkf-6A" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Hurtigruten-tender-boat-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="/images/pressroom/Hurtigruten-tender-boat-1.jpg 604w, /images/pressroom/Hurtigruten-tender-boat-1-300x300.jpg 300w, /images/pressroom/Hurtigruten-tender-boat-1-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>cleantechnica.com</h2><p>Evoy Developing 150 hp Electric Outboard Motor With Hurtigruten &amp; Frydenbø</p><a class="read-btn" href="https://cleantechnica.com/2020/06/15/evoy-developing-150-hp-electric-outboard-motor-with-hurtigruten-frydenbo/?fbclid=IwAR3fdq2MKZpjeUbhn1AH9jTre8ro5Au1i6LW8DoE6kZrx9EL1SdkcOkf-6A" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.fishfarmingexpert.com/article/former-mowi-chief-aarskog-joins-electric-boat-company/?fbclid=IwAR1Lhh4zKquS6DYwZu1QesJWXU8anaFWGmWwtpE8jt3Xr4vxAzUvpQjj1d8" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/alf-helge-aarskog-1-1.jpg" class="attachment-large size-large" alt="Image of Alf Helge Aarskog" loading="lazy" srcset="/images/pressroom/alf-helge-aarskog-1-1.jpg 604w, /images/pressroom/alf-helge-aarskog-1-1-300x300.jpg 300w, /images/pressroom/alf-helge-aarskog-1-1-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>fishfarmingexpert.com</h2><p>Former Mowi chief Aarskog joins electric boat company</p><a class="read-btn" href="https://www.fishfarmingexpert.com/article/former-mowi-chief-aarskog-joins-electric-boat-company/?fbclid=IwAR1Lhh4zKquS6DYwZu1QesJWXU8anaFWGmWwtpE8jt3Xr4vxAzUvpQjj1d8" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://newatlas.com/marine/evoy-most-powerful-electric-outboard-motor/?utm_source=New+Atlas+Subscribers&amp;utm_campaign=9b91161f89-EMAIL_CAMPAIGN_2020_03_30_08_13&amp;utm_medium=email&amp;utm_term=0_65b67362bd-9b91161f89-91585913" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/utenbordsmotor150.jpg" class="attachment-large size-large" alt="Image of Evoy electric 150hp outboard motor" loading="lazy" srcset="/images/pressroom/utenbordsmotor150.jpg 604w, /images/pressroom/utenbordsmotor150-300x300.jpg 300w, /images/pressroom/utenbordsmotor150-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>newatlas.com</h2><p>Evoy launches the world's most powerful electric outboard motor</p><a class="read-btn" href="https://newatlas.com/marine/evoy-most-powerful-electric-outboard-motor/?utm_source=New+Atlas+Subscribers&amp;utm_campaign=9b91161f89-EMAIL_CAMPAIGN_2020_03_30_08_13&amp;utm_medium=email&amp;utm_term=0_65b67362bd-9b91161f89-91585913" target="_blank" rel="noopener">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-157d2759 elementor-widget elementor-widget-heading" data-id="157d2759" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">NORWEGIAN</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-9aba24e elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="9aba24e" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-687c8ce4 elementor-widget elementor-widget-htmega-imagegrid-addons" data-id="687c8ce4" data-element_type="widget" data-widget_type="htmega-imagegrid-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-gridimage-area htmega-image-gridstyle-1">
                                                <div class="htb-row">
                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.nrk.no/vestland/verdas-forste-ladestasjon-er-pa-plass-_-vil-gjere-noreg-til-elbatnasjon-1.15483511?fbclid=IwAR13xIWzs1dvGW3FU5bXGLjT_bGmYauscTDzwLFSq5XZ4UUBkX05It0lIlA" target="_blank" rel="noopener"><img src="/images/pressroom/super.charger.opening.news_-p6rfmydalqarvnlysgawwc4fwzn3ghm2q4sfjkxo34.png" title="super.charger.opening.news" alt="Supercharger for boats opening day"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>nrk.no</h2><p>Verdens første «lynlader» er på plass – vil gjøre Norge til elbåtnasjon</p><a class="read-btn" href="https://www.nrk.no/vestland/verdas-forste-ladestasjon-er-pa-plass-_-vil-gjere-noreg-til-elbatnasjon-1.15483511?fbclid=IwAR13xIWzs1dvGW3FU5bXGLjT_bGmYauscTDzwLFSq5XZ4UUBkX05It0lIlA" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.intrafish.no/nyheter/ny-elektrisk-arbeidsbat-til-e-karstensen-fiskeoppdrett/2-1-989774" target="_blank" rel="noopener"><img src="/images/pressroom/Invitation_edit-scaled-p4z1eqoy8f19b2ezgjn18pz106oz8r8c8898d8alo0.jpg" title="EVOY-Karstensen-electric-boat" alt="image of electric boat"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>intrafish.no</h2><p>Ny elektrisk arbeidsbåt til E. Karstensen Fiskeoppdrett</p><a class="read-btn" href="https://www.intrafish.no/nyheter/ny-elektrisk-arbeidsbat-til-e-karstensen-fiskeoppdrett/2-1-989774" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.batliv.no/delingsokonomi-elbat-evoy/hydrolift-satser-elektrisk-med-evoy-pa-hekken/712931" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/hydrolift.kruser.evoy_-1024x1024.png" class="attachment-large size-large" alt="image of Hydrolift electric boat powered by evoy" loading="lazy" srcset="/images/pressroom/hydrolift.kruser.evoy_-1024x1024.png 1024w, /images/pressroom/hydrolift.kruser.evoy_-300x300.png 300w, /images/pressroom/hydrolift.kruser.evoy_-150x150.png 150w, /images/pressroom/hydrolift.kruser.evoy_-768x768.png 768w, /images/pressroom/hydrolift.kruser.evoy_.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>båtliv.no</h2><p>Hydrolift satser elektrisk med Evoy på hekken</p><a class="read-btn" href="https://www.batliv.no/delingsokonomi-elbat-evoy/hydrolift-satser-elektrisk-med-evoy-pa-hekken/712931" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://baatsans.no/evoy-med-fartsfull-elektrisk-folgebat-av-typen-goldfish/?fbclid=IwAR08ErWHx7c6_U7NH6B_4uHaTttR2uO5MlwkmfOaMuaEU1-hW5RJoM0x-tA" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/SailGP_logo_Instagram-1024x1024.png" class="attachment-large size-large" alt="" loading="lazy" srcset="/images/pressroom/SailGP_logo_Instagram-1024x1024.png 1024w, /images/pressroom/SailGP_logo_Instagram-300x300.png 300w, /images/pressroom/SailGP_logo_Instagram-150x150.png 150w, /images/pressroom/SailGP_logo_Instagram-768x768.png 768w, /images/pressroom/SailGP_logo_Instagram.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>båtsans.no</h2><p>Evoy med fartsfull elektrisk følgebåt av typen Goldfish</p><a class="read-btn" href="https://baatsans.no/evoy-med-fartsfull-elektrisk-folgebat-av-typen-goldfish/?fbclid=IwAR08ErWHx7c6_U7NH6B_4uHaTttR2uO5MlwkmfOaMuaEU1-hW5RJoM0x-tA" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://finansavisen.no/motor/bat/2020/09/08/7562996/frir-til-batbyggere-for-a-lansere-teslas-svar-pa-elbat" target="_blank" rel="noopener"><img width="800" height="800" src="/images/pressroom/Untitled-design-8-1024x1024.png" class="attachment-large size-large" alt="Image of Christer Ervik og Leif Stavøstrand" loading="lazy" srcset="/images/pressroom/Untitled-design-8-1024x1024.png 1024w, /images/pressroom/Untitled-design-8-300x300.png 300w, /images/pressroom/Untitled-design-8-150x150.png 150w, /images/pressroom/Untitled-design-8-768x768.png 768w, /images/pressroom/Untitled-design-8.png 1080w" sizes="(max-width: 800px) 100vw, 800px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>finansavisen.no</h2><p>Kruser og Evoy har gått sammen for å tilby raske elbåter i en delingstjeneste</p><a class="read-btn" href="https://finansavisen.no/motor/bat/2020/09/08/7562996/frir-til-batbyggere-for-a-lansere-teslas-svar-pa-elbat" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://finansavisen.no/motor/bat/2020/07/22/7549796/eu-gir-45-millioner-til-norsk-oppstartsbedrift" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Evoy-close-604x604-1.jpg" class="attachment-large size-large" alt="Image of Evoy electric boat systems" loading="lazy" srcset="/images/pressroom/Evoy-close-604x604-1.jpg 604w, /images/pressroom/Evoy-close-604x604-1-300x300.jpg 300w, /images/pressroom/Evoy-close-604x604-1-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>finansavisen.no</h2><p>EU gir 45 millioner til norsk oppstartsbedrift</p><a class="read-btn" href="https://finansavisen.no/motor/bat/2020/07/22/7549796/eu-gir-45-millioner-til-norsk-oppstartsbedrift" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://shifter.no/nyheter/floro-startup-far-9-millioner--vi-sitter-i-riktig-bat/184927" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Evoy-9-mill-Innovasjon-Norge.jpg" class="attachment-large size-large" alt="Image of Leif Stavøstrand Evoy" loading="lazy" srcset="/images/pressroom/Evoy-9-mill-Innovasjon-Norge.jpg 604w, /images/pressroom/Evoy-9-mill-Innovasjon-Norge-300x300.jpg 300w, /images/pressroom/Evoy-9-mill-Innovasjon-Norge-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>shifter.no</h2><p>Florø-startup får 9 millioner: – Vi sitter i riktig båt</p><a class="read-btn" href="https://shifter.no/nyheter/floro-startup-far-9-millioner--vi-sitter-i-riktig-bat/184927" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://ilaks.no/evoy-vil-eliminere-utslipp-fra-bater-na-investerer-aarskog-i-selskapet/" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Alf-Helga-Aarskog-investerer-i-Evoy.jpg" class="attachment-large size-large" alt="Image of Alf Helge Aarskog" loading="lazy" srcset="/images/pressroom/Alf-Helga-Aarskog-investerer-i-Evoy.jpg 604w, /images/pressroom/Alf-Helga-Aarskog-investerer-i-Evoy-300x300.jpg 300w, /images/pressroom/Alf-Helga-Aarskog-investerer-i-Evoy-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>ilaks.no</h2><p>Evoy vil eliminere utslipp fra båter. Nå investerer Aarskog i selskapet</p><a class="read-btn" href="https://ilaks.no/evoy-vil-eliminere-utslipp-fra-bater-na-investerer-aarskog-i-selskapet/" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.batliv.no/elbat-elmotor-evoy/denne-er-elektrisk-og-norsk/610663?fbclid=IwAR2wkKlJo4UenH6KQT8OrvgY_Kk4151AmG2xcrA1uS1t1wOtnlIuFTzBmdk" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/utenbordsmotor150.jpg" class="attachment-large size-large" alt="Image of Evoy electric 150hp outboard motor" loading="lazy" srcset="/images/pressroom/utenbordsmotor150.jpg 604w, /images/pressroom/utenbordsmotor150-300x300.jpg 300w, /images/pressroom/utenbordsmotor150-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>batliv.no</h2><p>- Det blir verdens kraftigste elektriske utenbords-motor</p><a class="read-btn" href="https://www.batliv.no/elbat-elmotor-evoy/denne-er-elektrisk-og-norsk/610663?fbclid=IwAR2wkKlJo4UenH6KQT8OrvgY_Kk4151AmG2xcrA1uS1t1wOtnlIuFTzBmdk" target="_blank" rel="noopener">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.skipsrevyen.no/article/verdens-raskeste-el-baat-doepes/" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Erna-baptise-Evoy.jpg" class="attachment-large size-large" alt="Image of Erna Solberg baptise Evoy1" loading="lazy" srcset="/images/pressroom/Erna-baptise-Evoy.jpg 604w, /images/pressroom/Erna-baptise-Evoy-300x300.jpg 300w, /images/pressroom/Erna-baptise-Evoy-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>skipsrevyen.no</h2><p>Verdens raskeste el-båt døpes</p><a class="read-btn" href="https://www.skipsrevyen.no/article/verdens-raskeste-el-baat-doepes/" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.tv2.no/a/10960907/" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Evoy-verdensrekord.jpg" class="attachment-large size-large" alt="Image of Evoy1 electric boat" loading="lazy" srcset="/images/pressroom/Evoy-verdensrekord.jpg 604w, /images/pressroom/Evoy-verdensrekord-300x300.jpg 300w, /images/pressroom/Evoy-verdensrekord-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>tv2.no</h2><p>Elektrisk båt satte ny verdensrekord – i alle fall uoffisielt</p><a class="read-btn" href="https://www.tv2.no/a/10960907/" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.tu.no/artikler/na-kommer-de-elektriske-ribene-og-smabatene/470799" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/TU-Evoy-elbåt.jpg" class="attachment-large size-large" alt="Image of Evoy1 on day of baptism" loading="lazy" srcset="/images/pressroom/TU-Evoy-elbåt.jpg 604w, /images/pressroom/TU-Evoy-elbåt-300x300.jpg 300w, /images/pressroom/TU-Evoy-elbåt-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>tu.no</h2><p>Nå kommer de elektriske ribene og småbåtene</p><a class="read-btn" href="https://www.tu.no/artikler/na-kommer-de-elektriske-ribene-og-smabatene/470799" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.sfj.no/klimapris-til-elbaat-pioner-i-floroe.6212409-339467.html?fbclid=IwAR2Qs3NxLAbu-wSwbshxh42wHrKVbAA4-2KdpeBhXPNMbkYtEM-2JFxwZnc" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Evoy-klimapris.jpg" class="attachment-large size-large" alt="Image of CEO and Founder of Evoy Leif A. Stavøstrand" loading="lazy" srcset="/images/pressroom/Evoy-klimapris.jpg 604w, /images/pressroom/Evoy-klimapris-300x300.jpg 300w, /images/pressroom/Evoy-klimapris-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>sfj.no</h2><p>Klimapris til elbåt-pioner i Florø</p><a class="read-btn" href="https://www.sfj.no/klimapris-til-elbaat-pioner-i-floroe.6212409-339467.html?fbclid=IwAR2Qs3NxLAbu-wSwbshxh42wHrKVbAA4-2KdpeBhXPNMbkYtEM-2JFxwZnc" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://energiogklima.no/spirprisen/evoy-vinner-av-spir-prisen-2019/" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/spirprisvinner2019.jpg" class="attachment-large size-large" alt="Image of Leif wins SPIR Award for Evoy" loading="lazy" srcset="/images/pressroom/spirprisvinner2019.jpg 604w, /images/pressroom/spirprisvinner2019-300x300.jpg 300w, /images/pressroom/spirprisvinner2019-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>energiogklima.no</h2><p>Evoy vinner av Spir-prisen 2019</p><a class="read-btn" href="https://energiogklima.no/spirprisen/evoy-vinner-av-spir-prisen-2019/" target="_blank" rel="noopener">Read more</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://shifter.no/100-pitches-dnb-dnb-nxt/evoy-stakk-av-med-pitcheseieren-hos-storbanken----det-er-helt-surrealistisk/129033" target="_blank" rel="noopener"><img width="604" height="604" src="/images/pressroom/Awards-100-Pitches-1.jpg" class="attachment-large size-large" alt="Image of Leif wins 100 pitches for Evoy" loading="lazy" srcset="/images/pressroom/Awards-100-Pitches-1.jpg 604w, /images/pressroom/Awards-100-Pitches-1-300x300.jpg 300w, /images/pressroom/Awards-100-Pitches-1-150x150.jpg 150w" sizes="(max-width: 604px) 100vw, 604px"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>SHIFTER.NO</h2><p>Evoy stakk av med pitcheseieren hos storbanken</p><a class="read-btn" href="https://shifter.no/100-pitches-dnb-dnb-nxt/evoy-stakk-av-med-pitcheseieren-hos-storbanken----det-er-helt-surrealistisk/129033" target="_blank" rel="noopener">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2b71fb7 elementor-widget elementor-widget-heading" data-id="2b71fb7" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">OTHER LANGUAGES</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3d3fe42 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3d3fe42" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6936f67 elementor-widget elementor-widget-htmega-imagegrid-addons" data-id="6936f67" data-element_type="widget" data-widget_type="htmega-imagegrid-addons.default">
                                        <div class="elementor-widget-container">
                                            <div class="htmega-gridimage-area htmega-image-gridstyle-1">
                                                <div class="htb-row">
                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.vaielettrico.it/elida-con-evoy-la-barca-elettrica-per-non-spaventare-i-pesci/" target="_blank" rel="noopener"><img src="/images/pressroom/Invitation_edit-scaled-p4z1eqoy8f19b2ezgjn18pz106oz8r8c8898d8alo0.jpg" title="EVOY-Karstensen-electric-boat" alt="image of electric boat"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>vaielettrico.it</h2><p>Elida con Evoy: la barca elettrica per non spaventare i pesci</p><a class="read-btn" href="https://www.vaielettrico.it/elida-con-evoy-la-barca-elettrica-per-non-spaventare-i-pesci/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="htb-col-md-4 htb-col-sm-6 htb-col-12">
                                                        <div class="htmega-singleimage-grid htmega-singleimage-gridstyle-1">
                                                            <div class="thumb">
                                                                <a href="https://www.quebecyachting.ca/2021/manufacturiers/motorisation/evoy-fete-ses-trois-ans-dexistence/" target="_blank" rel="noopener"><img src="/images/pressroom/Untitled-design-6-p5cxdm6xbqbdx1cxq4523bqcf2y52mqcl5rfpobl7s.png" title="Evoy 150hp electric motor" alt="Evoy 150hp electric motor"></a>
                                                            </div>
                                                            <div class="image-grid-content">
                                                                <div class="hover-action">
                                                                    <h2>quebecyachting.ca</h2><p>Evoy fête ses trois ans d'existence!</p><a class="read-btn" href="https://www.quebecyachting.ca/2021/manufacturiers/motorisation/evoy-fete-ses-trois-ans-dexistence/" target="_blank" rel="noopener">READ MORE</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-6799e69 elementor-section-content-middle elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6799e69" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: 0px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e43604d" data-id="e43604d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-28bb10f4 elementor-widget elementor-widget-heading" data-id="28bb10f4" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h2 class="elementor-heading-title elementor-size-default">ALWAYS FIRST</h2>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-77ea217d elementor-widget elementor-widget-text-editor" data-id="77ea217d" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-text-editor elementor-clearfix"><p>Be the first to get Evoy news, product updates and events. Choose your options.</p></div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-6197b2e elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="6197b2e" data-element_type="widget" data-settings="{&quot;button_width&quot;:&quot;33&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <form class="elementor-form" method="post" name="New Form">
                                                <input type="hidden" name="post_id" value="387">
                                                <input type="hidden" name="form_id" value="6197b2e">

                                                <input type="hidden" name="queried_id" value="387">

                                                <div class="elementor-form-fields-wrapper elementor-labels-above">
                                                    <div class="elementor-field-type-checkbox elementor-field-group elementor-column elementor-field-group-6ed25c0 elementor-col-100">
                                                        <div class="elementor-field-subgroup  elementor-subgroup-inline"><span class="elementor-field-option"><input type="checkbox" value="Commercial interest" id="form-field-6ed25c0-0" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-0">Commercial interest</label></span><span class="elementor-field-option"><input type="checkbox" value="Private Buyer" id="form-field-6ed25c0-1" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-1">Private Buyer</label></span><span class="elementor-field-option"><input type="checkbox" value="Evoy News" id="form-field-6ed25c0-2" name="form_fields[6ed25c0][]"> <label for="form-field-6ed25c0-2">Evoy News</label></span></div>
                                                    </div>
                                                    <div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-33">
                                                        <input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Full Name">
                                                    </div>
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-33 elementor-field-required">
                                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Your Email" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-33 e-form__buttons">
                                                        <button type="submit" class="elementor-button elementor-size-sm">
                                                            <span>
                                                                <span class="elementor-align-icon-right elementor-button-icon">
                                                                    <i aria-hidden="true" class="fas fa-chevron-right"></i>
                                                                </span>
                                                                <span class="elementor-button-text">be first</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>