<!DOCTYPE html>
<html lang="en-US" prefix="og: https://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="max-image-preview:large">

    <!-- Search Engine Optimization by Rank Math - https://s.rankmath.com/home -->
    <title>Electric Boat Motor - Inboard and Outboard - Evoy Technology Leader</title>
    <meta name="description" content="Evoy manufactures and designs the most powerful electric boat motors available in the market - Inboard and Outboard! Our sustainable boating technology goes beyond, with a good ROI and cost of ownership!">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <script type="text/javascript" async="" src="/js/linkid.js"></script>
    <script type="text/javascript" async="" src="/js/analytics.js"></script>

    <script src="/js/wp-emoji-release.min.js" type="text/javascript" defer=""></script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" href="/css/style.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/htbbootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/htmega-widgets.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/animation.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/htmega-keyframes.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/style.min(1).css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/theme.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/animations.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/frontend-legacy.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/frontend.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/post-7.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/frontend.min(1).css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/post-12.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/post-62.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/post-618.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/post-7209.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/css.css" type="text/css" media="all">
    @RenderSection("styles", false)
    <script type="text/javascript" id="monsterinsights-frontend-script-js-extra">
        /* <![CDATA[ */
        var monsterinsights_frontend = { "js_events_tracking": "true", "download_extensions": "doc,pdf,ppt,zip,xls,docx,pptx,xlsx", "inbound_paths": "[{\"path\":\"\\\/go\\\/\",\"label\":\"affiliate\"},{\"path\":\"\\\/recommend\\\/\",\"label\":\"affiliate\"}]", "home_url": "https:\/\/www.evoy.no", "hash_tracking": "false", "ua": "UA-151532018-1" };
        /* ]]> */</script>
    <script type="text/javascript" src="/js/frontend-gtag.min.js" id="monsterinsights-frontend-script-js"></script>
    <script type="text/javascript" src="/js/jquery.min.js" id="jquery-core-js"></script>
    <script type="text/javascript" src="/js/jquery-migrate.min.js" id="jquery-migrate-js"></script>
    @*<script type="text/javascript" src="/js/js.js"></script>*@

    <!-- start Simple Custom CSS and JS -->
    <script type="text/javascript">
        /* Default comment here */

        jQuery(document).ready(function ($) {

            $('#showBlock2').click(function (e) {
                $('#hideBlock').show("slow");

                $("#closeBlock2").click(function () {
                    $("#hideBlock").hide("slow");
                });

                e.preventDefault();
            });
        });</script>
    <!-- end Simple Custom CSS and JS -->
    <!-- start Simple Custom CSS and JS -->
    <script type="text/javascript">
        /* Default comment here */

        jQuery(document).ready(function ($) {

            $('#showBlock').click(function (e) {
                $('#hiddenBlock').show("slow");

                $("#closeBlock").click(function () {
                    $("#hiddenBlock").hide("slow");
                });

                e.preventDefault();
            });
        });</script>
</head>
<body class="home page-template-default page page-id-12 wp-custom-logo elementor-default elementor-kit-7 elementor-page elementor-page-12 e--ua-blink e--ua-chrome e--ua-webkit" data-elementor-device-mode="desktop" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="">

    <!-- End Google Tag Manager (noscript) -->
    <div data-elementor-type="header" data-elementor-id="62" class="elementor elementor-62 elementor-location-header" data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <header class="elementor-section elementor-top-section elementor-element elementor-element-738d4e6f elementor-section-content-middle elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-sticky elementor-sticky--effects elementor-sticky--active elementor-section--handles-inside" data-id="738d4e6f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="position: fixed; margin-top: 0px; margin-bottom: 0px; top: 0px; width: 2031px; left: 0px;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-362ac7f5" data-id="362ac7f5" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bc889cf elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="bc889cf" data-element_type="widget" data-widget_type="theme-site-logo.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <a href="/">
                                                    <img src="/images/Evoy_logo_Speed-e1615204836809-p3wxsieyr36wtt5n315mxg93ayuuhi80erpg1inc7m.png" title="Evoy_logo_Speed" alt="Evoy_logo_Speed">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1209b29" data-id="1209b29" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e921c63 elementor-nav-menu__align-justify elementor-nav-menu--stretch elementor-nav-menu--indicator-chevron elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="e921c63" data-element_type="widget" data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                                                <ul id="menu-1-e921c63" class="elementor-nav-menu" data-smartmenus-id="16208958816108113">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/Home/InBoard" class="elementor-item">INBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6418"><a href="/Home/OutBoard" class="elementor-item">OUTBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-256">
                                                        <a href="/Home/AboutUs" class="elementor-item has-submenu" id="sm-16208958816108113-1" aria-haspopup="true" aria-controls="sm-16208958816108113-2" aria-expanded="false">ABOUT<i class="fa"></i></a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-16208958816108113-2" role="group" aria-hidden="true" aria-labelledby="sm-16208958816108113-1" aria-expanded="false">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10063"><a href="/Home/AboutUs" class="elementor-sub-item">ABOUT US</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620"><a href="/Home/OurTeam" class="elementor-sub-item">OUR TEAM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10717"><a href="/Home/Investor" class="elementor-sub-item">INVESTOR</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a href="/Home/FAQ" class="elementor-sub-item">FAQ</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78">
                                                        <a href="/Home/News" class="elementor-item has-submenu" id="sm-16208958816108113-3" aria-haspopup="true" aria-controls="sm-16208958816108113-4" aria-expanded="false">NEWS<i class="fa"></i></a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-16208958816108113-4" role="group" aria-hidden="true" aria-labelledby="sm-16208958816108113-3" aria-expanded="false">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10062"><a href="/Home/News" class="elementor-sub-item">NEWS</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="/Home/Pressroom" class="elementor-sub-item">PRESSROOM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7233"><a href="/Home/Events" class="elementor-sub-item">EVENTS</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10716"><a href="/Home/Contact" class="elementor-item">CONTACT</a></li>
                                                </ul>
                                            </nav>
                                            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false" style="">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                                <span class="elementor-screen-only">Menu</span>
                                            </div>
                                            <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true" style="top: 67.4px; width: 2031px; left: 0px;">
                                                <ul id="menu-2-e921c63" class="elementor-nav-menu" data-smartmenus-id="16208958816128591">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/Home/InBoard" class="elementor-item">INBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6418"><a href="/Home/OutBoard" class="elementor-item">OUTBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-256">
                                                        <a href="/Home/AboutUs" class="elementor-item has-submenu" id="sm-16208958816128591-1" aria-haspopup="true" aria-controls="sm-16208958816128591-2" aria-expanded="false">ABOUT<span class="sub-arrow"><i class="fa"></i></span></a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-16208958816128591-2" role="group" aria-hidden="true" aria-labelledby="sm-16208958816128591-1" aria-expanded="false">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10063"><a href="/Home/AboutUs" class="elementor-sub-item">ABOUT US</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620"><a href="/Home/OurTeam" class="elementor-sub-item">OUR TEAM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10717"><a href="/Home/Investor" class="elementor-sub-item">INVESTOR</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a href="/Home/FAQ" class="elementor-sub-item">FAQ</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78">
                                                        <a href="/Home/News" class="elementor-item has-submenu" id="sm-16208958816128591-3" aria-haspopup="true" aria-controls="sm-16208958816128591-4" aria-expanded="false">NEWS<span class="sub-arrow"><i class="fa"></i></span></a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown" id="sm-16208958816128591-4" role="group" aria-hidden="true" aria-labelledby="sm-16208958816128591-3" aria-expanded="false">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10062"><a href="/Home/News" class="elementor-sub-item">NEWS</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="/Home/Pressroom" class="elementor-sub-item">PRESSROOM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7233"><a href="/Home/Events" class="elementor-sub-item">EVENTS</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10716"><a href="/Home/Contact" class="elementor-item">CONTACT</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header><header class="elementor-section elementor-top-section elementor-element elementor-element-738d4e6f elementor-section-content-middle elementor-section-height-min-height elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-sticky elementor-sticky__spacer" data-id="738d4e6f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;sticky&quot;:&quot;top&quot;,&quot;sticky_on&quot;:[&quot;desktop&quot;,&quot;tablet&quot;,&quot;mobile&quot;],&quot;sticky_offset&quot;:0,&quot;sticky_effects_offset&quot;:0}" style="visibility: hidden; transition: none 0s ease 0s; animation: 0s ease 0s 1 normal none running none;">
                <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-362ac7f5" data-id="362ac7f5" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-bc889cf elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="bc889cf" data-element_type="widget" data-widget_type="theme-site-logo.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <a href="/">
                                                    <img src="/images/Evoy_logo_Speed-e1615204836809-p3wxsieyr36wtt5n315mxg93ayuuhi80erpg1inc7m.png" title="Evoy_logo_Speed" alt="Evoy_logo_Speed">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1209b29" data-id="1209b29" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-e921c63 elementor-nav-menu__align-justify elementor-nav-menu--stretch elementor-nav-menu--indicator-chevron elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="e921c63" data-element_type="widget" data-settings="{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;toggle&quot;:&quot;burger&quot;}" data-widget_type="nav-menu.default">
                                        <div class="elementor-widget-container">
                                            <nav role="navigation" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none">
                                                <ul id="menu-1-e921c63" class="elementor-nav-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/Home/InBoard" class="elementor-item">INBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6418"><a href="/Home/OutBoard" class="elementor-item">OUTBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-256">
                                                        <a href="/Home/AboutUs" class="elementor-item">ABOUT</a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10063"><a href="/Home/AboutUs" class="elementor-sub-item">ABOUT US</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620"><a href="/Home/OurTeam" class="elementor-sub-item">OUR TEAM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10717"><a href="/Home/Investor" class="elementor-sub-item">INVESTOR</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a href="/Home/FAQ" class="elementor-sub-item">FAQ</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78">
                                                        <a href="/Home/News" class="elementor-item">NEWS</a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10062"><a href="/Home/News" class="elementor-sub-item">NEWS</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="/Home/Pressroom" class="elementor-sub-item">PRESSROOM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7233"><a href="/Home/Events" class="elementor-sub-item">EVENTS</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10716"><a href="/Home/Contact" class="elementor-item">CONTACT</a></li>
                                                </ul>
                                            </nav>
                                            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Menu Toggle" aria-expanded="false">
                                                <i class="fa fa-bars" aria-hidden="true"></i>
                                                <span class="elementor-screen-only">Menu</span>
                                            </div>
                                            <nav class="elementor-nav-menu--dropdown elementor-nav-menu__container" role="navigation" aria-hidden="true">
                                                <ul id="menu-2-e921c63" class="elementor-nav-menu">
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a href="/Home/InBoard" class="elementor-item">INBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6418"><a href="/Home/OutBoard" class="elementor-item">OUTBOARD</a></li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-256">
                                                        <a href="/Home/AboutUs" class="elementor-item">ABOUT</a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10063"><a href="/Home/AboutUs" class="elementor-sub-item">ABOUT US</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6620"><a href="/Home/OurTeam" class="elementor-sub-item">OUR TEAM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10717"><a href="/Home/Investor" class="elementor-sub-item">INVESTOR</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-351"><a href="/Home/FAQ" class="elementor-sub-item">FAQ</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-78">
                                                        <a href="/Home/News" class="elementor-item">NEWS</a>
                                                        <ul class="sub-menu elementor-nav-menu--dropdown">
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10062"><a href="/Home/News" class="elementor-sub-item">NEWS</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-610"><a href="/Home/Pressroom" class="elementor-sub-item">PRESSROOM</a></li>
                                                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7233"><a href="/Home/Events" class="elementor-sub-item">EVENTS</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10716"><a href="/Home/Contact" class="elementor-item">CONTACT</a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <main class="page type-page status-publish hentry" role="main">
        <div class="page-content">

            @RenderBody()
        </div>
        <section id="comments" class="comments-area">
        </section><!-- .comments-area -->
    </main>


    <div data-elementor-type="footer" data-elementor-id="618" class="elementor elementor-618 elementor-location-footer" data-elementor-settings="[]">
        <div class="elementor-section-wrap">
            <section class="elementor-section elementor-top-section elementor-element elementor-element-7c5582d0 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7c5582d0" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-6511e6a6" data-id="6511e6a6" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-c88d582 elementor-widget elementor-widget-image" data-id="c88d582" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-image">
                                                <img src="/images/Evoy_logo_Speed-e1615204836809-p3wxsieyr36wtt5n315mxg93ayuuhi80erpg1inc7m.png" title="Evoy_logo_Speed" alt="Evoy_logo_Speed">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-68173dc elementor-widget elementor-widget-heading" data-id="68173dc" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">+47 3704 8888</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-f8027ad e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="f8027ad" data-element_type="widget" data-widget_type="social-icons.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-social-icons-wrapper elementor-grid">
                                                <div class="elementor-grid-item">
                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-grow elementor-repeater-item-0267196" href="https://www.facebook.com/evoy.no" target="_blank">
                                                        <span class="elementor-screen-only">Facebook-f</span>
                                                        <i class="fa fa-facebook-f"></i>
                                                    </a>
                                                </div>
                                                <div class="elementor-grid-item">
                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-grow elementor-repeater-item-a5b1cd4" href="https://www.instagram.com/electricvoyage" target="_blank">
                                                        <span class="elementor-screen-only">Instagram</span>
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </div>
                                                <div class="elementor-grid-item">
                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin-in elementor-animation-grow elementor-repeater-item-9bc67e2" href="https://www.linkedin.com/company/evoy" target="_blank">
                                                        <span class="elementor-screen-only">Linkedin-in</span>
                                                        <i class="fa fa-linkedin"></i>
                                                    </a>
                                                </div>
                                                <div class="elementor-grid-item">
                                                    <a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-grow elementor-repeater-item-dbaeb71" href="https://www.youtube.com/channel/UCgeK67rLNPPmM6EJiEwZJUA" target="_blank">
                                                        <span class="elementor-screen-only">Youtube</span>
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-5c6eedd" data-id="5c6eedd" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-621e0983 elementor-widget elementor-widget-heading" data-id="621e0983" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">SUPPORT</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-2c1cbf92 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="2c1cbf92" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/Contact">
                                                        <span class="elementor-icon-list-text">Contact us</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/FAQ">
                                                        <span class="elementor-icon-list-text">FAQ</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/">
                                                        <span class="elementor-icon-list-text">Order E-System</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/">
                                                        <span class="elementor-icon-list-text">Sales Agent Application</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/Investor">
                                                        <span class="elementor-icon-list-text">Investor Enquiry</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-19a1774c" data-id="19a1774c" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-528f0e39 elementor-widget elementor-widget-heading" data-id="528f0e39" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">EVOY</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7162d82b elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="7162d82b" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/AboutUs">
                                                        <span class="elementor-icon-list-text">About Us</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/">
                                                        <span class="elementor-icon-list-text">Careers</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/News">
                                                        <span class="elementor-icon-list-text">News</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/Pressroom">
                                                        <span class="elementor-icon-list-text">Pressroom</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/Home/OurTeam">
                                                        <span class="elementor-icon-list-text">Business Info</span>
                                                    </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="/">
                                                        <span class="elementor-icon-list-text">Meet Our Team</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-4ca3de2b" data-id="4ca3de2b" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-42fd830a elementor-widget elementor-widget-heading" data-id="42fd830a" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">GET THE LATEST NEWS &amp; UPDATES FROM EVOY</h4>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-70b2074e elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="70b2074e" data-element_type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;20&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <form class="elementor-form" method="post" id="footer_newsletter" name="Newsletter footer">
                                                <input type="hidden" name="post_id" value="618">
                                                <input type="hidden" name="form_id" value="70b2074e">

                                                <input type="hidden" name="queried_id" value="12">

                                                <div class="elementor-form-fields-wrapper elementor-labels-">
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
                                                        <label for="form-field-email" class="elementor-field-label elementor-screen-only">Email</label><input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Enter your e-mail address" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-20 e-form__buttons">
                                                        <button type="submit" class="elementor-button elementor-size-sm">
                                                            <span>
                                                                <span class=" elementor-button-icon">
                                                                </span>
                                                                <span class="elementor-button-text">Subscribe</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="elementor-section elementor-top-section elementor-element elementor-element-4d9454b elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4d9454b" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2031px; left: -25px;">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6d239be" data-id="6d239be" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-2db6641 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="2db6641" data-element_type="widget" data-widget_type="divider.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-divider">
                                                <span class="elementor-divider-separator">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-9cbc945 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="9cbc945" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8d2e997" data-id="8d2e997" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-547df40 elementor-widget elementor-widget-heading" data-id="547df40" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <p class="elementor-heading-title elementor-size-default"><a href="/">Privacy Policy</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b496d0f" data-id="b496d0f" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-3b4a0e9 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-heading" data-id="3b4a0e9" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <p class="elementor-heading-title elementor-size-default"><a href="/">Legal Notice</a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2660c66" data-id="2660c66" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-3c8cf6b6 elementor-widget elementor-widget-heading" data-id="3c8cf6b6" data-element_type="widget" data-widget_type="heading.default">
                                                                <div class="elementor-widget-container">
                                                                    <p class="elementor-heading-title elementor-size-default">© 2021 Evoy</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=355011285162000&amp;ev=PageView&amp;noscript=1" /></noscript>

    <script type="text/javascript" src="/js/popper.min.js" id="htmega-popper-js"></script>
    <script type="text/javascript" src="/js/htbbootstrap.js" id="htbbootstrap-js"></script>
    <script type="text/javascript" src="/js/waypoints.js" id="waypoints-js"></script>
    <script type="text/javascript" src="/js/wp-embed.min.js" id="wp-embed-js"></script>
    <script type="text/javascript" src="/js/jquery.smartmenus.min.js" id="smartmenus-js"></script>
    <script type="text/javascript" id="aepc-pixel-events-js-extra">
        /* <![CDATA[ */
        var aepc_pixel_events = { "custom_events": { "AdvancedEvents": [{ "params": { "login_status": "not_logged_in", "post_type": "page", "object_id": "12", "object_type": "home" }, "delay": 0, "event_id": "ee7e96c9-e8f5-45d0-8994-80f485b91614" }] } };
        /* ]]> */</script>
    <script type="text/javascript" src="/js/webpack-pro.runtime.min.js" id="elementor-pro-webpack-runtime-js"></script>
    <script type="text/javascript" src="/js/webpack.runtime.min.js" id="elementor-webpack-runtime-js"></script>
    <script type="text/javascript" src="/js/frontend-modules.min.js" id="elementor-frontend-modules-js"></script>
    <script type="text/javascript" src="/js/jquery.sticky.min.js" id="elementor-sticky-js"></script>
    <script type="text/javascript" id="elementor-pro-frontend-js-before">var ElementorProFrontendConfig = { "ajaxurl": "https:\/\/www.evoy.no\/wp-admin\/admin-ajax.php", "nonce": "7b0f7e4edd", "urls": { "assets": "https:\/\/www.evoy.no\/wp-content\/plugins\/elementor-pro\/assets\/" }, "i18n": { "toc_no_headings_found": "No headings were found on this page." }, "shareButtonsNetworks": { "facebook": { "title": "Facebook", "has_counter": true }, "twitter": { "title": "Twitter" }, "google": { "title": "Google+", "has_counter": true }, "linkedin": { "title": "LinkedIn", "has_counter": true }, "pinterest": { "title": "Pinterest", "has_counter": true }, "reddit": { "title": "Reddit", "has_counter": true }, "vk": { "title": "VK", "has_counter": true }, "odnoklassniki": { "title": "OK", "has_counter": true }, "tumblr": { "title": "Tumblr" }, "digg": { "title": "Digg" }, "skype": { "title": "Skype" }, "stumbleupon": { "title": "StumbleUpon", "has_counter": true }, "mix": { "title": "Mix" }, "telegram": { "title": "Telegram" }, "pocket": { "title": "Pocket", "has_counter": true }, "xing": { "title": "XING", "has_counter": true }, "whatsapp": { "title": "WhatsApp" }, "email": { "title": "Email" }, "print": { "title": "Print" } }, "facebook_sdk": { "lang": "en_US", "app_id": "" }, "lottie": { "defaultAnimationUrl": "https:\/\/www.evoy.no\/wp-content\/plugins\/elementor-pro\/modules\/lottie\/assets\/animations\/default.json" } };</script>
    <script type="text/javascript" src="/js/frontend.min.js" id="elementor-pro-frontend-js"></script>
    <script type="text/javascript" src="/js/core.min.js" id="jquery-ui-core-js"></script>
    <script type="text/javascript" src="/js/dialog.min.js" id="elementor-dialog-js"></script>
    <script type="text/javascript" src="/js/waypoints.min.js" id="elementor-waypoints-js"></script>
    <script type="text/javascript" src="/js/share-link.min.js" id="share-link-js"></script>
    <script type="text/javascript" src="/js/swiper.min.js" id="swiper-js"></script>
    <script type="text/javascript" id="elementor-frontend-js-before">var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false, "isImprovedAssetsLoading": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "version": "3.1.4", "is_static": false, "experimentalFeatures": [], "urls": { "assets": "https:\/\/www.evoy.no\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 12, "title": "Electric%20Boat%20Motor%20-%20Inboard%20and%20Outboard%20-%20Evoy%20Technology%20Leader", "excerpt": "", "featuredImage": false } };</script>
    <script type="text/javascript" src="/js/frontend.min(1).js" id="elementor-frontend-js"></script><span id="elementor-device-mode" class="elementor-screen-only"></span>
    <script type="text/javascript" src="/js/preloaded-elements-handlers.min.js" id="pro-preloaded-elements-handlers-js"></script>
    <script type="text/javascript" src="/js/preloaded-elements-handlers.min(1).js" id="preloaded-elements-handlers-js"></script>

</body>
</html>