
<div id="banner-area">
    <img src="/images/banner/banner2.jpg" alt="" />
    <div class="parallax-overlay"></div>
    <!-- Subpage title start -->
    <div class="banner-title-content">
        <div class="text-center">
            <h2>Certifications</h2>
            <ul class="breadcrumb">
                <li>Home</li>
                <li><a href="#"> Certifications</a></li>
            </ul>
        </div>
    </div><!-- Subpage title end -->
</div><!-- Banner area end -->
<!-- Main container start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 heading text-center">
                <h3 class="title2">
                    ĐẢM BẢO CHẤT LƯỢNG
                    <span class="title-desc">
                        Chứng nhận VN-189/CAAV, ISO 9001:2015
                    </span>
                </h3>
                <p style="text-align: left;">
                    Công ty cổ phần hàng không vũ trụ Tuệ Long luôn hoạt động bảo dưỡng thiết bị máy bay
                    nằm trong phạm vi phê chuẩn của Công ty.
                    Tất cả các hoạt động bảo dưỡng theo yêu cầu của Khách hàng được
                    thực hiện theo Tài liệu GTTCBD và theo yêu cầu QCATHK
                    Công tác huấn luyện và đào tạo được thực hiện theo quy định trong tài
                    liệu Chương trình đào tạo của Công ty.
                    Đảm bảo đầy đủ cơ sở vật chất, nhà xưởng, thiết bị, phụ tùng vật tư, dữ
                    liệu bảo dưỡng, nhân viên được huấn luyện và ủy quyền luôn sẵn sàng
                    trong quá trình bảo dưỡng.
                </p>
            </div>
            
        </div> <!-- Title row end -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="post-content">
                    <div class="post-image-wrapper">
                        <img src="~/images/certificate/cer1.jpg" width="120%" class="img-responsive" alt="" />
                    </div><!-- post image end -->
                    <p></p>


                </div><!--/ post content end -->

            </div><!--/ Content col end -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="post-content">
                    <div class="post-image-wrapper">
                        <img src="~/images/certificate/cer2.jpg" width="120%" class="img-responsive" alt="" />
                    </div><!-- post image end -->
                    <p></p>


                </div><!--/ post content end -->

            </div>
        </div>
    </div><!--/  Container end-->
</section>
